In [1]:
import pandas as pd
import plotly.express as px
import json

In [11]:
us_births = pd.read_csv('https://raw.githubusercontent.com/avt1993/US-Births-2016-2021/main/us_births_2016_2021.csv')
us_births.head()
#us_births.dtypes

,State,State Abbreviation,Year,Gender,Education Level of Mother,Education Level Code,Number of Births,Average Age of Mother (years),Average Birth Weight (g)
0,Alabama,AL,2016,F,8th grade or less,1,1052,27.8,3116.9
1,Alabama,AL,2016,F,9th through 12th grade with no diploma,2,3436,24.1,3040.0
2,Alabama,AL,2016,F,High school graduate or GED completed,3,8777,25.4,3080.0
3,Alabama,AL,2016,F,"Some college credit, but not a degree",4,6453,26.7,3121.9
4,Alabama,AL,2016,F,"Associate degree (AA, AS)",5,2227,28.9,3174.3

In [3]:
education_level = us_births['Education Level of Mother'].unique().tolist()
education_level

['8th grade or less',
 '9th through 12th grade with no diploma',
 'High school graduate or GED completed',
 'Some college credit, but not a degree',
 'Associate degree (AA, AS)',
 "Bachelor's degree (BA, AB, BS)",
 "Master's degree (MA, MS, MEng, MEd, MSW, MBA)",
 'Doctorate (PhD, EdD) or Professional Degree (MD, DDS, DVM, LLB, JD)',
 'Unknown or Not Stated']

In [12]:
us_births['Education Level of Mother'] = us_births['Education Level of Mother'].replace('8th grade or less', '> 8th Grade')
us_births['Education Level of Mother'] = us_births['Education Level of Mother'].replace('9th through 12th grade with no diploma', '9th > 12th Grade')
us_births['Education Level of Mother'] = us_births['Education Level of Mother'].replace('High school graduate or GED completed', 'High School Grad')
us_births['Education Level of Mother'] = us_births['Education Level of Mother'].replace('Some college credit, but not a degree', 'Some College Credit')
us_births['Education Level of Mother'] = us_births['Education Level of Mother'].replace('Associate degree (AA, AS)', 'Associate Degree')
us_births['Education Level of Mother'] = us_births['Education Level of Mother'].replace("Bachelor's degree (BA, AB, BS)", "Bahcelor's Degree")
us_births['Education Level of Mother'] = us_births['Education Level of Mother'].replace("Master's degree (MA, MS, MEng, MEd, MSW, MBA)", "Master's Degree")
us_births['Education Level of Mother'] = us_births['Education Level of Mother'].replace('Doctorate (PhD, EdD) or Professional Degree (MD, DDS, DVM, LLB, JD)', 'Doctorate')
us_births['Education Level of Mother'] = us_births['Education Level of Mother'].replace('Unknown or Not Stated', 'Unknown')

In [13]:
us_births.to_csv('us_births_2016_2021.csv', index = False)

In [5]:
year_selected = 2020
state_selected = "California"
ed_level_code_selected = 1
grouped_df = us_births[us_births['Education Level Code'] == 1]
filtered_df = us_births[(us_births['State'] == state_selected) & (us_births['Year'] == year_selected) & (us_births['Education Level Code'] == ed_level_code_selected)]

new_df = us_births[us_births['Education Level Code'] == 1].groupby(['State', 'Year'])['Number of Births'].sum().reset_index(name = 'Total Births')
new_df

       State  Year  Total Births
0    Alabama  2016          2240
1    Alabama  2017          1990
2    Alabama  2018          1856
3    Alabama  2019          2350
4    Alabama  2020          2294
..       ...   ...           ...
301  Wyoming  2017            80
302  Wyoming  2018            80
303  Wyoming  2019            59
304  Wyoming  2020            63
305  Wyoming  2021            69

[306 rows x 3 columns]

In [6]:
df_by_ed_level = us_births[(us_births['State'] == state_selected) & (us_births['Year'] == year_selected)].groupby('Education Level of Mother')['Number of Births'].sum().reset_index()
df_by_ed_level

                           Education Level of Mother  Number of Births
0                                  8th grade or less             13407
1             9th through 12th grade with no diploma             31227
2                          Associate degree (AA, AS)             28365
3                     Bachelor's degree (BA, AB, BS)             86356
4  Doctorate (PhD, EdD) or Professional Degree (M...             13535
5              High school graduate or GED completed             99814
6      Master's degree (MA, MS, MEng, MEd, MSW, MBA)             40136
7              Some college credit, but not a degree             78868
8                              Unknown or Not Stated             28551

In [10]:
state_condition = us_births['State'] == 'Alabama'
year_condition = us_births['Year'].between(2017, 2020)
ed_condition = us_births['Education Level Code'] == '8th grade or less'
filter_df = us_births[state_condition & year_condition & ed_condition].groupby('Year')['Number of Births'].sum().reset_index()
filter_df

Empty DataFrame
Columns: [Year, Number of Births]
Index: []

In [16]:
fig = px.bar(filter_df, x = 'Year', y = 'Number of Births')

fig.update_layout(
    title='Number of Births by Year'
)
fig.show()

In [26]:
us_births = us_births.rename(columns = {'State Abbreviation ': 'State_Code', 'Average Age of Mother (years)': 'Avg. Age of Mother', 'Average Birth Weight (g)' : 'Avg. Birth Weight in Grams'})
us_births.head(30)

,State,State Abbreviation,Year,Gender,Education Level of Mother,Education Level Code,Number of Births,Avg. Age of Mother,Avg. Birth Weight in Grams
0,Alabama,AL,2016,F,8th grade or less,1,1052,27.8,3116.9
1,Alabama,AL,2016,F,9th through 12th grade with no diploma,2,3436,24.1,3040.0
2,Alabama,AL,2016,F,High school graduate or GED completed,3,8777,25.4,3080.0
3,Alabama,AL,2016,F,"Some college credit, but not a degree",4,6453,26.7,3121.9
4,Alabama,AL,2016,F,"Associate degree (AA, AS)",5,2227,28.9,3174.3
5,Alabama,AL,2016,F,"Bachelor's degree (BA, AB, BS)",6,4453,30.3,3239.0
6,Alabama,AL,2016,F,"Master's degree (MA, MS, MEng, MEd, MSW, MBA)",7,1910,32.0,3263.5
7,Alabama,AL,2016,F,"Doctorate (PhD, EdD) or Professional Degree (M...",8,487,33.1,3196.7
8,Alabama,AL,2016,F,Unknown or Not Stated,-9,65,27.7,3083.9
9,Alabama,AL,2016,M,8th grade or less,1,1188,27.6,3232.9
10,Alabama,AL,2016,M,9th through 12th grade with no diploma,2,3657,23.9,3121.2
11,Alabama,AL,2016,M,High school graduate or GED completed,3,9284,25.2,3197.9
12,Alabama,AL,2016,M,"Some college credit, but not a degree",4,6516,26.7,3252.1
13,Alabama,AL,2016,M,"Associate degree (AA, AS)",5,2460,29.0,3301.4
14,Alabama,AL,2016,M,"Bachelor's degree (BA, AB, BS)",6,4645,30.3,3376.1
15,Alabama,AL,2016,M,"Master's degree (MA, MS, MEng, MEd, MSW, MBA)",7,1974,32.2,3358.2
16,Alabama,AL,2016,M,"Doctorate (PhD, EdD) or Professional Degree (M...",8,511,32.8,3368.4
17,Alabama,AL,2016,M,Unknown or Not Stated,-9,56,27.2,3107.7
18,Alabama,AL,2017,F,8th grade or less,1,1012,27.6,3139.6
19,Alabama,AL,2017,F,9th through 12th grade with no diploma,2,3283,24.4,3040.6
20,Alabama,AL,2017,F,High school graduate or GED completed,3,8962,25.4,3068.8
21,Alabama,AL,2017,F,"Some college credit, but not a degree",4,6384,26.9,3112.3
22,Alabama,AL,2017,F,"Associate degree (AA, AS)",5,2411,28.9,3197.2
23,Alabama,AL,2017,F,"Bachelor's degree (BA, AB, BS)",6,4335,30.5,3259.2
24,Alabama,AL,2017,F,"Master's degree (MA, MS, MEng, MEd, MSW, MBA)",7,1874,32.1,3251.7
25,Alabama,AL,2017,F,"Doctorate (PhD, EdD) or Professional Degree (M...",8,551,33.1,3230.8
26,Alabama,AL,2017,F,Unknown or Not Stated,-9,62,28.0,3014.4
27,Alabama,AL,2017,M,8th grade or less,1,978,27.6,3229.8
28,Alabama,AL,2017,M,9th through 12th grade with no diploma,2,3345,23.9,3116.2
29,Alabama,AL,2017,M,High school graduate or GED completed,3,9403,25.4,3190.0

In [19]:
with open('us-states.json') as f:
    us_states_data = json.load(f)
states_df = pd.DataFrame(us_states_data)
states_df

                 type                                           features
0   FeatureCollection  {'type': 'Feature', 'id': 'AL', 'properties': ...
1   FeatureCollection  {'type': 'Feature', 'id': 'AK', 'properties': ...
2   FeatureCollection  {'type': 'Feature', 'id': 'AZ', 'properties': ...
3   FeatureCollection  {'type': 'Feature', 'id': 'AR', 'properties': ...
4   FeatureCollection  {'type': 'Feature', 'id': 'CA', 'properties': ...
5   FeatureCollection  {'type': 'Feature', 'id': 'CO', 'properties': ...
6   FeatureCollection  {'type': 'Feature', 'id': 'CT', 'properties': ...
7   FeatureCollection  {'type': 'Feature', 'id': 'DE', 'properties': ...
8   FeatureCollection  {'type': 'Feature', 'id': 'FL', 'properties': ...
9   FeatureCollection  {'type': 'Feature', 'id': 'GA', 'properties': ...
10  FeatureCollection  {'type': 'Feature', 'id': 'HI', 'properties': ...
11  FeatureCollection  {'type': 'Feature', 'id': 'ID', 'properties': ...
12  FeatureCollection  {'type': 'Feature', 'id': 'IL', 'properties': ...
13  FeatureCollection  {'type': 'Feature', 'id': 'IN', 'properties': ...
14  FeatureCollection  {'type': 'Feature', 'id': 'IA', 'properties': ...
15  FeatureCollection  {'type': 'Feature', 'id': 'KS', 'properties': ...
16  FeatureCollection  {'type': 'Feature', 'id': 'KY', 'properties': ...
17  FeatureCollection  {'type': 'Feature', 'id': 'LA', 'properties': ...
18  FeatureCollection  {'type': 'Feature', 'id': 'ME', 'properties': ...
19  FeatureCollection  {'type': 'Feature', 'id': 'MD', 'properties': ...
20  FeatureCollection  {'type': 'Feature', 'id': 'MA', 'properties': ...
21  FeatureCollection  {'type': 'Feature', 'id': 'MI', 'properties': ...
22  FeatureCollection  {'type': 'Feature', 'id': 'MN', 'properties': ...
23  FeatureCollection  {'type': 'Feature', 'id': 'MS', 'properties': ...
24  FeatureCollection  {'type': 'Feature', 'id': 'MO', 'properties': ...
25  FeatureCollection  {'type': 'Feature', 'id': 'MT', 'properties': ...
26  FeatureCollection  {'type': 'Feature', 'id': 'NE', 'properties': ...
27  FeatureCollection  {'type': 'Feature', 'id': 'NV', 'properties': ...
28  FeatureCollection  {'type': 'Feature', 'id': 'NH', 'properties': ...
29  FeatureCollection  {'type': 'Feature', 'id': 'NJ', 'properties': ...
30  FeatureCollection  {'type': 'Feature', 'id': 'NM', 'properties': ...
31  FeatureCollection  {'type': 'Feature', 'id': 'NY', 'properties': ...
32  FeatureCollection  {'type': 'Feature', 'id': 'NC', 'properties': ...
33  FeatureCollection  {'type': 'Feature', 'id': 'ND', 'properties': ...
34  FeatureCollection  {'type': 'Feature', 'id': 'OH', 'properties': ...
35  FeatureCollection  {'type': 'Feature', 'id': 'OK', 'properties': ...
36  FeatureCollection  {'type': 'Feature', 'id': 'OR', 'properties': ...
37  FeatureCollection  {'type': 'Feature', 'id': 'PA', 'properties': ...
38  FeatureCollection  {'type': 'Feature', 'id': 'RI', 'properties': ...
39  FeatureCollection  {'type': 'Feature', 'id': 'SC', 'properties': ...
40  FeatureCollection  {'type': 'Feature', 'id': 'SD', 'properties': ...
41  FeatureCollection  {'type': 'Feature', 'id': 'TN', 'properties': ...
42  FeatureCollection  {'type': 'Feature', 'id': 'TX', 'properties': ...
43  FeatureCollection  {'type': 'Feature', 'id': 'UT', 'properties': ...
44  FeatureCollection  {'type': 'Feature', 'id': 'VT', 'properties': ...
45  FeatureCollection  {'type': 'Feature', 'id': 'VA', 'properties': ...
46  FeatureCollection  {'type': 'Feature', 'id': 'WA', 'properties': ...
47  FeatureCollection  {'type': 'Feature', 'id': 'WV', 'properties': ...
48  FeatureCollection  {'type': 'Feature', 'id': 'WI', 'properties': ...
49  FeatureCollection  {'type': 'Feature', 'id': 'WY', 'properties': ...