In [2]:
import pandas as pd
import plotly.express as px
import json
import plotly.graph_objects as go

In [45]:
us_births = pd.read_csv('https://raw.githubusercontent.com/avt1993/US-Births-2016-2021/main/us_births_2016_2021.csv')
us_births.head()
#us_births.dtypes

,State,State Abbreviation,Year,Gender,Education Level of Mother,Education Level Code,Number of Births,Average Age of Mother (years),Average Birth Weight (g)
0,Alabama,AL,2016,F,> 8th Grade,1,1052,27.8,3116.9
1,Alabama,AL,2016,F,9th > 12th Grade,2,3436,24.1,3040.0
2,Alabama,AL,2016,F,High School Grad,3,8777,25.4,3080.0
3,Alabama,AL,2016,F,Some College Credit,4,6453,26.7,3121.9
4,Alabama,AL,2016,F,Associate Degree,5,2227,28.9,3174.3

In [47]:
df = pd.read_csv('us_births_2016_2021_updated.csv')
df = df.rename(columns={'Percentage of Births by Education Level': 'Percentage of Births by State'})
df.head()

,State,State Abbreviation,Education Level of Mother,Year,Number of Births_by ed level,Number of Births_by state,Percentage of Births by State
0,Alabama,AL,9th > 12th Grade,2016,7093,59151,11.99
1,Alabama,AL,> 8th Grade,2016,2240,59151,3.79
2,Alabama,AL,Associate Degree,2016,4687,59151,7.92
3,Alabama,AL,Bahcelor's Degree,2016,9098,59151,15.38
4,Alabama,AL,Doctorate,2016,998,59151,1.69

In [48]:
df.to_csv('us_births_2016_2021_updated.csv', index = False)

In [17]:
us_births['Education Level of Mother'] = us_births['Education Level of Mother'].replace('8th grade or less', '> 8th Grade')
us_births['Education Level of Mother'] = us_births['Education Level of Mother'].replace('9th through 12th grade with no diploma', '9th > 12th Grade')
us_births['Education Level of Mother'] = us_births['Education Level of Mother'].replace('High school graduate or GED completed', 'High School Grad')
us_births['Education Level of Mother'] = us_births['Education Level of Mother'].replace('Some college credit, but not a degree', 'Some College Credit')
us_births['Education Level of Mother'] = us_births['Education Level of Mother'].replace('Associate degree (AA, AS)', 'Associate Degree')
us_births['Education Level of Mother'] = us_births['Education Level of Mother'].replace("Bachelor's degree (BA, AB, BS)", "Bahcelor's Degree")
us_births['Education Level of Mother'] = us_births['Education Level of Mother'].replace("Master's degree (MA, MS, MEng, MEd, MSW, MBA)", "Master's Degree")
us_births['Education Level of Mother'] = us_births['Education Level of Mother'].replace('Doctorate (PhD, EdD) or Professional Degree (MD, DDS, DVM, LLB, JD)', 'Doctorate')
us_births['Education Level of Mother'] = us_births['Education Level of Mother'].replace('Unknown or Not Stated', 'Unknown')

In [13]:
us_births.to_csv('us_births_2016_2021.csv', index = False)

In [5]:
year_selected = 2020
state_selected = "California"
ed_level_code_selected = 1
grouped_df = us_births[us_births['Education Level Code'] == 1]
filtered_df = us_births[(us_births['State'] == state_selected) & (us_births['Year'] == year_selected) & (us_births['Education Level Code'] == ed_level_code_selected)]

new_df = us_births[us_births['Education Level Code'] == 1].groupby(['State', 'Year'])['Number of Births'].sum().reset_index(name = 'Total Births')
new_df

       State  Year  Total Births
0    Alabama  2016          2240
1    Alabama  2017          1990
2    Alabama  2018          1856
3    Alabama  2019          2350
4    Alabama  2020          2294
..       ...   ...           ...
301  Wyoming  2017            80
302  Wyoming  2018            80
303  Wyoming  2019            59
304  Wyoming  2020            63
305  Wyoming  2021            69

[306 rows x 3 columns]

In [8]:
year_selected = 2020
state_selected = "California"

education_level_list = us_births['Education Level of Mother'].unique().tolist()
education_level_list

total_births = us_births[(us_births['State'] == state_selected) & (us_births['Year'] == year_selected)]['Number of Births'].sum()
total_births

420259

In [13]:
df_by_ed_level = us_births[(us_births['State'] == state_selected) & (us_births['Year'] == year_selected)].groupby('Education Level of Mother')['Number of Births'].sum().reset_index()
df_by_ed_level['Birth Percentage'] = (df_by_ed_level['Number of Births'] / total_births) * 100
df_by_ed_level

  Education Level of Mother  Number of Births  Birth Percentage
0          9th > 12th Grade             31227          7.430418
1               > 8th Grade             13407          3.190176
2          Associate Degree             28365          6.749409
3         Bahcelor's Degree             86356         20.548281
4                 Doctorate             13535          3.220633
5          High School Grad             99814         23.750592
6           Master's Degree             40136          9.550301
7       Some College Credit             78868         18.766523
8                   Unknown             28551          6.793668

In [28]:
df_state_totals = us_births[(us_births['Year'] == year_selected)].groupby('State Abbreviation')['Number of Births'].sum().reset_index()
df_state_totals

NameError: name 'year_selected' is not defined

In [19]:
df_by_ed_level_usa = us_births[(us_births['Year'] == year_selected)].groupby(['State', 'Education Level of Mother'])['Number of Births'].sum().reset_index()
df_by_ed_level_usa.head(20)

      State Education Level of Mother  Number of Births
0   Alabama          9th > 12th Grade              5612
1   Alabama               > 8th Grade              2294
2   Alabama          Associate Degree              5096
3   Alabama         Bahcelor's Degree              8850
4   Alabama                 Doctorate              1121
5   Alabama          High School Grad             19011
6   Alabama           Master's Degree              4076
7   Alabama       Some College Credit             11508
8   Alabama                   Unknown                79
9    Alaska          9th > 12th Grade               735
10   Alaska               > 8th Grade                53
11   Alaska          Associate Degree               813
12   Alaska         Bahcelor's Degree              1579
13   Alaska                 Doctorate               230
14   Alaska          High School Grad              2994
15   Alaska           Master's Degree               612
16   Alaska       Some College Credit              2300
17   Alaska                   Unknown               153
18  Arizona          9th > 12th Grade              9553
19  Arizona               > 8th Grade              1958

In [23]:
merged_df = df_by_ed_level_usa.merge(df_state_totals, on = 'State', suffixes = ('_by ed level', '_by state'))
merged_df

,State,Education Level of Mother,Number of Births_by ed level,Number of Births_by state
0,Alabama,9th > 12th Grade,5612,57647
1,Alabama,> 8th Grade,2294,57647
2,Alabama,Associate Degree,5096,57647
3,Alabama,Bahcelor's Degree,8850,57647
4,Alabama,Doctorate,1121,57647
...,...,...,...,...
453,Wyoming,Doctorate,109,6128
454,Wyoming,High School Grad,1542,6128
455,Wyoming,Master's Degree,445,6128
456,Wyoming,Some College Credit,1514,6128
457,Wyoming,Unknown,58,6128

In [25]:
merged_df['Percentage of Births by Education Level'] = ((merged_df['Number of Births_by ed level'] / merged_df['Number of Births_by state']) * 100).round(2)
merged_df.head(30)

,State,Education Level of Mother,Number of Births_by ed level,Number of Births_by state,Percentage of Births by Education Level
0,Alabama,9th > 12th Grade,5612,57647,9.74
1,Alabama,> 8th Grade,2294,57647,3.98
2,Alabama,Associate Degree,5096,57647,8.84
3,Alabama,Bahcelor's Degree,8850,57647,15.35
4,Alabama,Doctorate,1121,57647,1.94
5,Alabama,High School Grad,19011,57647,32.98
6,Alabama,Master's Degree,4076,57647,7.07
7,Alabama,Some College Credit,11508,57647,19.96
8,Alabama,Unknown,79,57647,0.14
9,Alaska,9th > 12th Grade,735,9469,7.76
10,Alaska,> 8th Grade,53,9469,0.56
11,Alaska,Associate Degree,813,9469,8.59
12,Alaska,Bahcelor's Degree,1579,9469,16.68
13,Alaska,Doctorate,230,9469,2.43
14,Alaska,High School Grad,2994,9469,31.62
15,Alaska,Master's Degree,612,9469,6.46
16,Alaska,Some College Credit,2300,9469,24.29
17,Alaska,Unknown,153,9469,1.62
18,Arizona,9th > 12th Grade,9553,76947,12.42
19,Arizona,> 8th Grade,1958,76947,2.54
20,Arizona,Associate Degree,6703,76947,8.71
21,Arizona,Bahcelor's Degree,13262,76947,17.24
22,Arizona,Doctorate,1641,76947,2.13
23,Arizona,High School Grad,20860,76947,27.11
24,Arizona,Master's Degree,5026,76947,6.53
25,Arizona,Some College Credit,17562,76947,22.82
26,Arizona,Unknown,382,76947,0.50
27,Arkansas,9th > 12th Grade,3672,35251,10.42
28,Arkansas,> 8th Grade,823,35251,2.33
29,Arkansas,Associate Degree,2940,35251,8.34

In [29]:
test = merged_df[(merged_df['Education Level of Mother'] == 'High School Grad')].reset_index()
test

,index,State,Education Level of Mother,Number of Births_by ed level,Number of Births_by state,Percentage of Births by Education Level
0,5,Alabama,High School Grad,19011,57647,32.98
1,14,Alaska,High School Grad,2994,9469,31.62
2,23,Arizona,High School Grad,20860,76947,27.11
3,32,Arkansas,High School Grad,11853,35251,33.62
4,41,California,High School Grad,99814,420259,23.75
5,50,Colorado,High School Grad,12544,61494,20.40
6,59,Connecticut,High School Grad,6570,33460,19.64
7,68,Delaware,High School Grad,2802,10392,26.96
8,77,District of Columbia,High School Grad,1797,8874,20.25
9,86,Florida,High School Grad,65185,209671,31.09
10,95,Georgia,High School Grad,39675,122473,32.39
11,104,Hawaii,High School Grad,2797,15785,17.72
12,113,Idaho,High School Grad,5395,21533,25.05
13,122,Illinois,High School Grad,30949,133298,23.22
14,131,Indiana,High School Grad,23434,78616,29.81
15,140,Iowa,High School Grad,9088,36114,25.16
16,149,Kansas,High School Grad,8766,34376,25.50
17,158,Kentucky,High School Grad,16102,51668,31.16
18,167,Louisiana,High School Grad,19770,57328,34.49
19,176,Maine,High School Grad,2892,11539,25.06
20,185,Maryland,High School Grad,14194,68554,20.70
21,194,Massachusetts,High School Grad,10978,66428,16.53
22,203,Michigan,High School Grad,27691,104074,26.61
23,212,Minnesota,High School Grad,10793,63443,17.01
24,221,Mississippi,High School Grad,10971,35473,30.93
25,230,Missouri,High School Grad,18065,69285,26.07
26,239,Montana,High School Grad,2803,10777,26.01
27,247,Nebraska,High School Grad,4807,24291,19.79
28,256,Nevada,High School Grad,10951,33653,32.54
29,265,New Hampshire,High School Grad,2463,11791,20.89
30,274,New Jersey,High School Grad,23010,97954,23.49
31,283,New Mexico,High School Grad,5645,21903,25.77
32,292,New York,High School Grad,48608,209338,23.22
33,301,North Carolina,High School Grad,29290,116730,25.09
34,310,North Dakota,High School Grad,2144,10059,21.31
35,319,Ohio,High School Grad,37407,129191,28.95
36,328,Oklahoma,High School Grad,14735,47623,30.94
37,337,Oregon,High School Grad,9376,39820,23.55
38,346,Pennsylvania,High School Grad,33519,130693,25.65
39,355,Rhode Island,High School Grad,2097,10101,20.76
40,364,South Carolina,High School Grad,14594,55704,26.20
41,373,South Dakota,High School Grad,2747,10960,25.06
42,382,Tennessee,High School Grad,22506,78689,28.60
43,391,Texas,High School Grad,107422,368190,29.18
44,400,Utah,High School Grad,8971,45702,19.63
45,409,Vermont,High School Grad,1201,5133,23.40
46,418,Virginia,High School Grad,25144,94749,26.54
47,427,Washington,High School Grad,17930,83086,21.58
48,436,West Virginia,High School Grad,5752,17323,33.20
49,445,Wisconsin,High School Grad,15101,60594,24.92
50,454,Wyoming,High School Grad,1542,6128,25.16

In [16]:
fig = px.bar(filter_df, x = 'Year', y = 'Number of Births')

fig.update_layout(
    title='Number of Births by Year'
)
fig.show()

In [26]:
us_births = us_births.rename(columns = {'State Abbreviation ': 'State_Code', 'Average Age of Mother (years)': 'Avg. Age of Mother', 'Average Birth Weight (g)' : 'Avg. Birth Weight in Grams'})
us_births.head(30)

,State,State Abbreviation,Year,Gender,Education Level of Mother,Education Level Code,Number of Births,Avg. Age of Mother,Avg. Birth Weight in Grams
0,Alabama,AL,2016,F,8th grade or less,1,1052,27.8,3116.9
1,Alabama,AL,2016,F,9th through 12th grade with no diploma,2,3436,24.1,3040.0
2,Alabama,AL,2016,F,High school graduate or GED completed,3,8777,25.4,3080.0
3,Alabama,AL,2016,F,"Some college credit, but not a degree",4,6453,26.7,3121.9
4,Alabama,AL,2016,F,"Associate degree (AA, AS)",5,2227,28.9,3174.3
5,Alabama,AL,2016,F,"Bachelor's degree (BA, AB, BS)",6,4453,30.3,3239.0
6,Alabama,AL,2016,F,"Master's degree (MA, MS, MEng, MEd, MSW, MBA)",7,1910,32.0,3263.5
7,Alabama,AL,2016,F,"Doctorate (PhD, EdD) or Professional Degree (M...",8,487,33.1,3196.7
8,Alabama,AL,2016,F,Unknown or Not Stated,-9,65,27.7,3083.9
9,Alabama,AL,2016,M,8th grade or less,1,1188,27.6,3232.9
10,Alabama,AL,2016,M,9th through 12th grade with no diploma,2,3657,23.9,3121.2
11,Alabama,AL,2016,M,High school graduate or GED completed,3,9284,25.2,3197.9
12,Alabama,AL,2016,M,"Some college credit, but not a degree",4,6516,26.7,3252.1
13,Alabama,AL,2016,M,"Associate degree (AA, AS)",5,2460,29.0,3301.4
14,Alabama,AL,2016,M,"Bachelor's degree (BA, AB, BS)",6,4645,30.3,3376.1
15,Alabama,AL,2016,M,"Master's degree (MA, MS, MEng, MEd, MSW, MBA)",7,1974,32.2,3358.2
16,Alabama,AL,2016,M,"Doctorate (PhD, EdD) or Professional Degree (M...",8,511,32.8,3368.4
17,Alabama,AL,2016,M,Unknown or Not Stated,-9,56,27.2,3107.7
18,Alabama,AL,2017,F,8th grade or less,1,1012,27.6,3139.6
19,Alabama,AL,2017,F,9th through 12th grade with no diploma,2,3283,24.4,3040.6
20,Alabama,AL,2017,F,High school graduate or GED completed,3,8962,25.4,3068.8
21,Alabama,AL,2017,F,"Some college credit, but not a degree",4,6384,26.9,3112.3
22,Alabama,AL,2017,F,"Associate degree (AA, AS)",5,2411,28.9,3197.2
23,Alabama,AL,2017,F,"Bachelor's degree (BA, AB, BS)",6,4335,30.5,3259.2
24,Alabama,AL,2017,F,"Master's degree (MA, MS, MEng, MEd, MSW, MBA)",7,1874,32.1,3251.7
25,Alabama,AL,2017,F,"Doctorate (PhD, EdD) or Professional Degree (M...",8,551,33.1,3230.8
26,Alabama,AL,2017,F,Unknown or Not Stated,-9,62,28.0,3014.4
27,Alabama,AL,2017,M,8th grade or less,1,978,27.6,3229.8
28,Alabama,AL,2017,M,9th through 12th grade with no diploma,2,3345,23.9,3116.2
29,Alabama,AL,2017,M,High school graduate or GED completed,3,9403,25.4,3190.0

In [19]:
with open('us-states.json') as f:
    us_states_data = json.load(f)
states_df = pd.DataFrame(us_states_data)
states_df

                 type                                           features
0   FeatureCollection  {'type': 'Feature', 'id': 'AL', 'properties': ...
1   FeatureCollection  {'type': 'Feature', 'id': 'AK', 'properties': ...
2   FeatureCollection  {'type': 'Feature', 'id': 'AZ', 'properties': ...
3   FeatureCollection  {'type': 'Feature', 'id': 'AR', 'properties': ...
4   FeatureCollection  {'type': 'Feature', 'id': 'CA', 'properties': ...
5   FeatureCollection  {'type': 'Feature', 'id': 'CO', 'properties': ...
6   FeatureCollection  {'type': 'Feature', 'id': 'CT', 'properties': ...
7   FeatureCollection  {'type': 'Feature', 'id': 'DE', 'properties': ...
8   FeatureCollection  {'type': 'Feature', 'id': 'FL', 'properties': ...
9   FeatureCollection  {'type': 'Feature', 'id': 'GA', 'properties': ...
10  FeatureCollection  {'type': 'Feature', 'id': 'HI', 'properties': ...
11  FeatureCollection  {'type': 'Feature', 'id': 'ID', 'properties': ...
12  FeatureCollection  {'type': 'Feature', 'id': 'IL', 'properties': ...
13  FeatureCollection  {'type': 'Feature', 'id': 'IN', 'properties': ...
14  FeatureCollection  {'type': 'Feature', 'id': 'IA', 'properties': ...
15  FeatureCollection  {'type': 'Feature', 'id': 'KS', 'properties': ...
16  FeatureCollection  {'type': 'Feature', 'id': 'KY', 'properties': ...
17  FeatureCollection  {'type': 'Feature', 'id': 'LA', 'properties': ...
18  FeatureCollection  {'type': 'Feature', 'id': 'ME', 'properties': ...
19  FeatureCollection  {'type': 'Feature', 'id': 'MD', 'properties': ...
20  FeatureCollection  {'type': 'Feature', 'id': 'MA', 'properties': ...
21  FeatureCollection  {'type': 'Feature', 'id': 'MI', 'properties': ...
22  FeatureCollection  {'type': 'Feature', 'id': 'MN', 'properties': ...
23  FeatureCollection  {'type': 'Feature', 'id': 'MS', 'properties': ...
24  FeatureCollection  {'type': 'Feature', 'id': 'MO', 'properties': ...
25  FeatureCollection  {'type': 'Feature', 'id': 'MT', 'properties': ...
26  FeatureCollection  {'type': 'Feature', 'id': 'NE', 'properties': ...
27  FeatureCollection  {'type': 'Feature', 'id': 'NV', 'properties': ...
28  FeatureCollection  {'type': 'Feature', 'id': 'NH', 'properties': ...
29  FeatureCollection  {'type': 'Feature', 'id': 'NJ', 'properties': ...
30  FeatureCollection  {'type': 'Feature', 'id': 'NM', 'properties': ...
31  FeatureCollection  {'type': 'Feature', 'id': 'NY', 'properties': ...
32  FeatureCollection  {'type': 'Feature', 'id': 'NC', 'properties': ...
33  FeatureCollection  {'type': 'Feature', 'id': 'ND', 'properties': ...
34  FeatureCollection  {'type': 'Feature', 'id': 'OH', 'properties': ...
35  FeatureCollection  {'type': 'Feature', 'id': 'OK', 'properties': ...
36  FeatureCollection  {'type': 'Feature', 'id': 'OR', 'properties': ...
37  FeatureCollection  {'type': 'Feature', 'id': 'PA', 'properties': ...
38  FeatureCollection  {'type': 'Feature', 'id': 'RI', 'properties': ...
39  FeatureCollection  {'type': 'Feature', 'id': 'SC', 'properties': ...
40  FeatureCollection  {'type': 'Feature', 'id': 'SD', 'properties': ...
41  FeatureCollection  {'type': 'Feature', 'id': 'TN', 'properties': ...
42  FeatureCollection  {'type': 'Feature', 'id': 'TX', 'properties': ...
43  FeatureCollection  {'type': 'Feature', 'id': 'UT', 'properties': ...
44  FeatureCollection  {'type': 'Feature', 'id': 'VT', 'properties': ...
45  FeatureCollection  {'type': 'Feature', 'id': 'VA', 'properties': ...
46  FeatureCollection  {'type': 'Feature', 'id': 'WA', 'properties': ...
47  FeatureCollection  {'type': 'Feature', 'id': 'WV', 'properties': ...
48  FeatureCollection  {'type': 'Feature', 'id': 'WI', 'properties': ...
49  FeatureCollection  {'type': 'Feature', 'id': 'WY', 'properties': ...

In [30]:
total_births_by_state_and_year = us_births.groupby(['State', 'State Abbreviation', 'Year'])['Number of Births'].sum().reset_index()
total_births_by_state_and_year

       State State Abbreviation  Year  Number of Births
0    Alabama                 AL  2016             59151
1    Alabama                 AL  2017             58941
2    Alabama                 AL  2018             57761
3    Alabama                 AL  2019             58615
4    Alabama                 AL  2020             57647
..       ...                ...   ...               ...
301  Wyoming                 WY  2017              6903
302  Wyoming                 WY  2018              6562
303  Wyoming                 WY  2019              6565
304  Wyoming                 WY  2020              6128
305  Wyoming                 WY  2021              6237

[306 rows x 4 columns]

In [31]:
df_by_ed_level_usa = us_births.groupby(['State', 'State Abbreviation', 'Education Level of Mother', 'Year'])['Number of Births'].sum().reset_index()
df_by_ed_level_usa.head(40)

,State,State Abbreviation,Education Level of Mother,Year,Number of Births
0,Alabama,AL,9th > 12th Grade,2016,7093
1,Alabama,AL,9th > 12th Grade,2017,6628
2,Alabama,AL,9th > 12th Grade,2018,6169
3,Alabama,AL,9th > 12th Grade,2019,5855
4,Alabama,AL,9th > 12th Grade,2020,5612
5,Alabama,AL,9th > 12th Grade,2021,5240
6,Alabama,AL,> 8th Grade,2016,2240
7,Alabama,AL,> 8th Grade,2017,1990
8,Alabama,AL,> 8th Grade,2018,1856
9,Alabama,AL,> 8th Grade,2019,2350
10,Alabama,AL,> 8th Grade,2020,2294
11,Alabama,AL,> 8th Grade,2021,2386
12,Alabama,AL,Associate Degree,2016,4687
13,Alabama,AL,Associate Degree,2017,4857
14,Alabama,AL,Associate Degree,2018,5034
15,Alabama,AL,Associate Degree,2019,5017
16,Alabama,AL,Associate Degree,2020,5096
17,Alabama,AL,Associate Degree,2021,5039
18,Alabama,AL,Bahcelor's Degree,2016,9098
19,Alabama,AL,Bahcelor's Degree,2017,8959
20,Alabama,AL,Bahcelor's Degree,2018,8833
21,Alabama,AL,Bahcelor's Degree,2019,8892
22,Alabama,AL,Bahcelor's Degree,2020,8850
23,Alabama,AL,Bahcelor's Degree,2021,9266
24,Alabama,AL,Doctorate,2016,998
25,Alabama,AL,Doctorate,2017,1139
26,Alabama,AL,Doctorate,2018,1101
27,Alabama,AL,Doctorate,2019,1056
28,Alabama,AL,Doctorate,2020,1121
29,Alabama,AL,Doctorate,2021,1220
30,Alabama,AL,High School Grad,2016,18061
31,Alabama,AL,High School Grad,2017,18365
32,Alabama,AL,High School Grad,2018,18306
33,Alabama,AL,High School Grad,2019,18887
34,Alabama,AL,High School Grad,2020,19011
35,Alabama,AL,High School Grad,2021,19165
36,Alabama,AL,Master's Degree,2016,3884
37,Alabama,AL,Master's Degree,2017,3821
38,Alabama,AL,Master's Degree,2018,3857
39,Alabama,AL,Master's Degree,2019,3915

In [32]:
merged_df = df_by_ed_level_usa.merge(total_births_by_state_and_year, on = ['State', "State Abbreviation", 'Year'], suffixes = ('_by ed level', '_by state'))
merged_df.head(40)

,State,State Abbreviation,Education Level of Mother,Year,Number of Births_by ed level,Number of Births_by state
0,Alabama,AL,9th > 12th Grade,2016,7093,59151
1,Alabama,AL,> 8th Grade,2016,2240,59151
2,Alabama,AL,Associate Degree,2016,4687,59151
3,Alabama,AL,Bahcelor's Degree,2016,9098,59151
4,Alabama,AL,Doctorate,2016,998,59151
5,Alabama,AL,High School Grad,2016,18061,59151
6,Alabama,AL,Master's Degree,2016,3884,59151
7,Alabama,AL,Some College Credit,2016,12969,59151
8,Alabama,AL,Unknown,2016,121,59151
9,Alabama,AL,9th > 12th Grade,2017,6628,58941
10,Alabama,AL,> 8th Grade,2017,1990,58941
11,Alabama,AL,Associate Degree,2017,4857,58941
12,Alabama,AL,Bahcelor's Degree,2017,8959,58941
13,Alabama,AL,Doctorate,2017,1139,58941
14,Alabama,AL,High School Grad,2017,18365,58941
15,Alabama,AL,Master's Degree,2017,3821,58941
16,Alabama,AL,Some College Credit,2017,13035,58941
17,Alabama,AL,Unknown,2017,147,58941
18,Alabama,AL,9th > 12th Grade,2018,6169,57761
19,Alabama,AL,> 8th Grade,2018,1856,57761
20,Alabama,AL,Associate Degree,2018,5034,57761
21,Alabama,AL,Bahcelor's Degree,2018,8833,57761
22,Alabama,AL,Doctorate,2018,1101,57761
23,Alabama,AL,High School Grad,2018,18306,57761
24,Alabama,AL,Master's Degree,2018,3857,57761
25,Alabama,AL,Some College Credit,2018,12493,57761
26,Alabama,AL,Unknown,2018,112,57761
27,Alabama,AL,9th > 12th Grade,2019,5855,58615
28,Alabama,AL,> 8th Grade,2019,2350,58615
29,Alabama,AL,Associate Degree,2019,5017,58615
30,Alabama,AL,Bahcelor's Degree,2019,8892,58615
31,Alabama,AL,Doctorate,2019,1056,58615
32,Alabama,AL,High School Grad,2019,18887,58615
33,Alabama,AL,Master's Degree,2019,3915,58615
34,Alabama,AL,Some College Credit,2019,12545,58615
35,Alabama,AL,Unknown,2019,98,58615
36,Alabama,AL,9th > 12th Grade,2020,5612,57647
37,Alabama,AL,> 8th Grade,2020,2294,57647
38,Alabama,AL,Associate Degree,2020,5096,57647
39,Alabama,AL,Bahcelor's Degree,2020,8850,57647

In [33]:
merged_df['Percentage of Births by Education Level'] = ((merged_df['Number of Births_by ed level'] / merged_df['Number of Births_by state']) * 100).round(2)
merged_df

,State,State Abbreviation,Education Level of Mother,Year,Number of Births_by ed level,Number of Births_by state,Percentage of Births by Education Level
0,Alabama,AL,9th > 12th Grade,2016,7093,59151,11.99
1,Alabama,AL,> 8th Grade,2016,2240,59151,3.79
2,Alabama,AL,Associate Degree,2016,4687,59151,7.92
3,Alabama,AL,Bahcelor's Degree,2016,9098,59151,15.38
4,Alabama,AL,Doctorate,2016,998,59151,1.69
...,...,...,...,...,...,...,...
2745,Wyoming,WY,Doctorate,2021,137,6237,2.20
2746,Wyoming,WY,High School Grad,2021,1483,6237,23.78
2747,Wyoming,WY,Master's Degree,2021,471,6237,7.55
2748,Wyoming,WY,Some College Credit,2021,1491,6237,23.91
2749,Wyoming,WY,Unknown,2021,81,6237,1.30

In [34]:
merged_df.to_csv('us_births_2016_2021_updated.csv', index = False)

In [43]:
merged_df_filtered = merged_df[(merged_df['Year'].between(2016,2018)) & (merged_df['Education Level of Mother'] == 'Doctorate')].groupby('State').sum().reset_index()
merged_df_filtered

,State,Year,Number of Births_by ed level,Number of Births_by state,Percentage of Births by Education Level
0,Alabama,6051,3238,175853,5.53
1,Alaska,6051,581,31740,5.51
2,Arizona,6051,4703,247115,5.71
3,Arkansas,6051,1608,112812,4.28
4,California,6051,41398,1415405,8.79
5,Colorado,6051,6083,193880,9.42
6,Connecticut,6051,4314,105961,12.22
7,Delaware,6051,787,32468,7.26
8,District of Columbia,6051,3149,28630,33.03
9,Florida,6051,14080,670194,6.31
10,Georgia,6051,6392,385457,4.98
11,Hawaii,6051,713,52548,4.08
12,Idaho,6051,911,66066,4.13
13,Illinois,6051,13772,448650,9.22
14,Indiana,6051,4637,246907,5.63
15,Iowa,6051,3167,115618,8.22
16,Kansas,6051,2680,110833,7.25
17,Kentucky,6051,3478,164123,6.36
18,Louisiana,6051,3540,183811,5.79
19,Maine,6051,1106,37293,8.89
20,Maryland,6051,9723,215857,13.51
21,Massachusetts,6051,11946,211128,16.98
22,Michigan,6051,8222,334773,7.38
23,Minnesota,6051,6793,205688,9.91
24,Mississippi,6051,1787,112285,4.78
25,Missouri,6051,5206,221008,7.07
26,Montana,6051,830,35594,7.00
27,Nebraska,6051,2337,77871,9.00
28,Nevada,6051,1489,107698,4.15
29,New Hampshire,6051,1167,36378,9.64
30,New Jersey,6051,10580,305120,10.41
31,New Mexico,6051,1560,71498,6.56
32,New York,6051,24728,690258,10.75
33,North Carolina,6051,8977,359858,7.49
34,North Dakota,6051,937,32756,8.60
35,Ohio,6051,10285,410051,7.53
36,Oklahoma,6051,2470,152606,4.85
37,Oregon,6051,4154,131354,9.49
38,Pennsylvania,6051,13370,412827,9.71
39,Rhode Island,6051,1090,31942,10.24
40,South Carolina,6051,3719,171040,6.52
41,South Dakota,6051,891,36302,7.37
42,Tennessee,6051,5541,242574,6.86
43,Texas,6051,23409,1158721,6.06
44,Utah,6051,1917,146258,3.92
45,Vermont,6051,632,16843,11.27
46,Virginia,6051,10417,302694,10.33
47,Washington,6051,7634,264152,8.68
48,West Virginia,6051,1181,56002,6.33
49,Wisconsin,6051,5127,195688,7.86
50,Wyoming,6051,383,20851,5.52

In [36]:
fig = px.choropleth(locations = (merged_df_filtered['State Abbreviation']), locationmode = "USA-states",
                    color = (merged_df_filtered['Percentage of Births by Education Level']), scope = "usa")
fig.show()

In [38]:
fig = go.Figure(data = go.Choropleth(
    locations = merged_df_filtered['State Abbreviation'], # Spatial coordinates
    z = merged_df_filtered['Percentage of Births by Education Level'].astype(float), # Data to be color-coded
    locationmode = 'USA-states', # set of locations match entries in `locations`
    colorscale = 'Reds',
    colorbar_title = "Percentage",
))

fig.update_layout(
    title_text = 'Percentage of Births by Education Level - ',
    geo_scope='usa', # limite map scope to USA
)

fig.show()

In [39]:
 filtered_map_df = map_df[(map_df['Year'] == year_selected) & (map_df['Education Level of Mother'] == ed_level_selected)].reset_index()

State                                       object
State Abbreviation                          object
Education Level of Mother                   object
Year                                         int64
Number of Births_by ed level                 int64
Number of Births_by state                    int64
Percentage of Births by Education Level    float64
dtype: object

In [41]:

df_by_ed_level_usa = us_births.groupby(['State', 'State Abbreviation', 'Education Level of Mother', 'Year'])['Number of Births'].sum().reset_index()
merged_df = df_by_ed_level_usa.merge(total_births_by_state_and_year, on = ['State', "State Abbreviation", 'Year'], suffixes = ('_by ed level', '_by state'))

(2750, 7)

In [24]:
total_births_by_state_and_year = us_births[(us_births['Year'].between(2016,2018))].groupby(['State', 'State Abbreviation', 'Year'])['Number of Births'].sum().reset_index(name = 'Total Births in State')

total_births_by_state_and_year

         State State Abbreviation  Year  Total Births in State
0      Alabama                 AL  2016                  59151
1      Alabama                 AL  2017                  58941
2      Alabama                 AL  2018                  57761
3       Alaska                 AK  2016                  11209
4       Alaska                 AK  2017                  10445
..         ...                ...   ...                    ...
148  Wisconsin                 WI  2017                  64975
149  Wisconsin                 WI  2018                  64098
150    Wyoming                 WY  2016                   7386
151    Wyoming                 WY  2017                   6903
152    Wyoming                 WY  2018                   6562

[153 rows x 4 columns]

In [25]:
df_by_ed_level_usa = us_births[(us_births['Year'].between(2016,2018)) & (us_births['Education Level of Mother'] == 'Doctorate')].groupby(['State', 'State Abbreviation', 'Year', 'Education Level of Mother'])['Number of Births'].sum().reset_index()
df_by_ed_level_usa

,State,State Abbreviation,Year,Education Level of Mother,Number of Births
0,Alabama,AL,2016,Doctorate,998
1,Alabama,AL,2017,Doctorate,1139
2,Alabama,AL,2018,Doctorate,1101
3,Alaska,AK,2016,Doctorate,187
4,Alaska,AK,2017,Doctorate,185
...,...,...,...,...,...
148,Wisconsin,WI,2017,Doctorate,1673
149,Wisconsin,WI,2018,Doctorate,1704
150,Wyoming,WY,2016,Doctorate,139
151,Wyoming,WY,2017,Doctorate,111
152,Wyoming,WY,2018,Doctorate,133

In [42]:
merged_df = df_by_ed_level_usa.merge(total_births_by_state_and_year, on = ['State', 'State Abbreviation', 'Year'], suffixes = ('_by ed level', '_by state'))
merged_df

,State,State Abbreviation,Year,Education Level of Mother,Number of Births,Total Births in State
0,Alabama,AL,2016,Doctorate,998,59151
1,Alabama,AL,2017,Doctorate,1139,58941
2,Alabama,AL,2018,Doctorate,1101,57761
3,Alaska,AK,2016,Doctorate,187,11209
4,Alaska,AK,2017,Doctorate,185,10445
...,...,...,...,...,...,...
148,Wisconsin,WI,2017,Doctorate,1673,64975
149,Wisconsin,WI,2018,Doctorate,1704,64098
150,Wyoming,WY,2016,Doctorate,139,7386
151,Wyoming,WY,2017,Doctorate,111,6903
152,Wyoming,WY,2018,Doctorate,133,6562

In [43]:
merged_df = merged_df.groupby(['State', 'State Abbreviation'])['Number of Births', 'Total Births in State'].sum().reset_index()
merged_df

/var/folders/0p/ymgcc2_s2fz5y2m7s2hb1dzw0000gn/T/ipykernel_974/2814813678.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  merged_df = merged_df.groupby(['State', 'State Abbreviation'])['Number of Births', 'Total Births in State'].sum().reset_index()

,State,State Abbreviation,Number of Births,Total Births in State
0,Alabama,AL,3238,175853
1,Alaska,AK,581,31740
2,Arizona,AZ,4703,247115
3,Arkansas,AR,1608,112812
4,California,CA,41398,1415405
5,Colorado,CO,6083,193880
6,Connecticut,CT,4314,105961
7,Delaware,DE,787,32468
8,District of Columbia,DC,3149,28630
9,Florida,FL,14080,670194
10,Georgia,GA,6392,385457
11,Hawaii,HI,713,52548
12,Idaho,ID,911,66066
13,Illinois,IL,13772,448650
14,Indiana,IN,4637,246907
15,Iowa,IA,3167,115618
16,Kansas,KS,2680,110833
17,Kentucky,KY,3478,164123
18,Louisiana,LA,3540,183811
19,Maine,ME,1106,37293
20,Maryland,MD,9723,215857
21,Massachusetts,MA,11946,211128
22,Michigan,MI,8222,334773
23,Minnesota,MN,6793,205688
24,Mississippi,MS,1787,112285
25,Missouri,MO,5206,221008
26,Montana,MT,830,35594
27,Nebraska,NE,2337,77871
28,Nevada,NV,1489,107698
29,New Hampshire,NH,1167,36378
30,New Jersey,NJ,10580,305120
31,New Mexico,NM,1560,71498
32,New York,NY,24728,690258
33,North Carolina,NC,8977,359858
34,North Dakota,ND,937,32756
35,Ohio,OH,10285,410051
36,Oklahoma,OK,2470,152606
37,Oregon,OR,4154,131354
38,Pennsylvania,PA,13370,412827
39,Rhode Island,RI,1090,31942
40,South Carolina,SC,3719,171040
41,South Dakota,SD,891,36302
42,Tennessee,TN,5541,242574
43,Texas,TX,23409,1158721
44,Utah,UT,1917,146258
45,Vermont,VT,632,16843
46,Virginia,VA,10417,302694
47,Washington,WA,7634,264152
48,West Virginia,WV,1181,56002
49,Wisconsin,WI,5127,195688
50,Wyoming,WY,383,20851

In [44]:
merged_df['Percentage of Births by State'] = ((merged_df['Number of Births'] / merged_df['Total Births in State']) * 100).round(2)
merged_df

,State,State Abbreviation,Number of Births,Total Births in State,Percentage of Births by State
0,Alabama,AL,3238,175853,1.84
1,Alaska,AK,581,31740,1.83
2,Arizona,AZ,4703,247115,1.90
3,Arkansas,AR,1608,112812,1.43
4,California,CA,41398,1415405,2.92
5,Colorado,CO,6083,193880,3.14
6,Connecticut,CT,4314,105961,4.07
7,Delaware,DE,787,32468,2.42
8,District of Columbia,DC,3149,28630,11.00
9,Florida,FL,14080,670194,2.10
10,Georgia,GA,6392,385457,1.66
11,Hawaii,HI,713,52548,1.36
12,Idaho,ID,911,66066,1.38
13,Illinois,IL,13772,448650,3.07
14,Indiana,IN,4637,246907,1.88
15,Iowa,IA,3167,115618,2.74
16,Kansas,KS,2680,110833,2.42
17,Kentucky,KY,3478,164123,2.12
18,Louisiana,LA,3540,183811,1.93
19,Maine,ME,1106,37293,2.97
20,Maryland,MD,9723,215857,4.50
21,Massachusetts,MA,11946,211128,5.66
22,Michigan,MI,8222,334773,2.46
23,Minnesota,MN,6793,205688,3.30
24,Mississippi,MS,1787,112285,1.59
25,Missouri,MO,5206,221008,2.36
26,Montana,MT,830,35594,2.33
27,Nebraska,NE,2337,77871,3.00
28,Nevada,NV,1489,107698,1.38
29,New Hampshire,NH,1167,36378,3.21
30,New Jersey,NJ,10580,305120,3.47
31,New Mexico,NM,1560,71498,2.18
32,New York,NY,24728,690258,3.58
33,North Carolina,NC,8977,359858,2.49
34,North Dakota,ND,937,32756,2.86
35,Ohio,OH,10285,410051,2.51
36,Oklahoma,OK,2470,152606,1.62
37,Oregon,OR,4154,131354,3.16
38,Pennsylvania,PA,13370,412827,3.24
39,Rhode Island,RI,1090,31942,3.41
40,South Carolina,SC,3719,171040,2.17
41,South Dakota,SD,891,36302,2.45
42,Tennessee,TN,5541,242574,2.28
43,Texas,TX,23409,1158721,2.02
44,Utah,UT,1917,146258,1.31
45,Vermont,VT,632,16843,3.75
46,Virginia,VA,10417,302694,3.44
47,Washington,WA,7634,264152,2.89
48,West Virginia,WV,1181,56002,2.11
49,Wisconsin,WI,5127,195688,2.62
50,Wyoming,WY,383,20851,1.84