In [2]:
import pandas as pd
import plotly.express as px
import json
import plotly.graph_objects as go

In [81]:
us_births = pd.read_csv('https://raw.githubusercontent.com/avt1993/US-Births-2016-2021/main/us_births_2016_2021.csv')
us_births.head()
#us_births.dtypes

,State,State Abbreviation,Year,Gender,Education Level of Mother,Education Level Code,Number of Births,Average Age of Mother (years),Average Birth Weight (g)
0,Alabama,AL,2016,F,> 8th Grade,1,1052,27.8,3116.9
1,Alabama,AL,2016,F,9th > 12th Grade,2,3436,24.1,3040.0
2,Alabama,AL,2016,F,High School Grad,3,8777,25.4,3080.0
3,Alabama,AL,2016,F,Some College Credit,4,6453,26.7,3121.9
4,Alabama,AL,2016,F,Associate Degree,5,2227,28.9,3174.3

In [135]:
df = pd.read_csv('us_births_data.csv')
df = df.drop('Unnamed: 0', axis = 1)
df.head()

,State,State Abbreviation,Education Level of Mother,Year,Number of Births,Total Births in State,Average Age of Mother (years),Political Party Governing
0,Alabama,AL,9th > 12th Grade,2016,7093,59151,24.00,R
1,Alabama,AL,> 8th Grade,2016,2240,59151,27.70,R
2,Alabama,AL,Associate Degree,2016,4687,59151,28.95,R
3,Alabama,AL,Bahcelor's Degree,2016,9098,59151,30.30,R
4,Alabama,AL,Doctorate,2016,998,59151,32.95,R

In [35]:
test = df[(df['Year'] == 2016) & (df['State Abbreviation'] == 'AL')]
test_value = test['State'][0]
test_value

'Alabama'

In [47]:
ed_level_list = df['Education Level of Mother'].unique().tolist()
party_list = df['Political Party Governing'].unique().tolist()
ed_level_by_political_party = pd.DataFrame(columns = ed_level_list)
new_column_name = 'Political Party'
ed_level_by_political_party.insert(0, new_column_name, '')
ed_level_by_political_party
#ed_level_list

Empty DataFrame
Columns: [Political Party, 9th > 12th Grade, > 8th Grade, Associate Degree, Bahcelor's Degree, Doctorate, High School Grad, Master's Degree, Some College Credit, Unknown]
Index: []

In [137]:
# Generate a dataframe that calculates the percentage of births by each level education based on political party.

ed_level_list = df['Education Level of Mother'].unique().tolist()
party_list = df['Political Party Governing'].unique().tolist()
ed_level_by_political_party = pd.DataFrame(columns = ed_level_list)
new_column_name = 'Political Party'
ed_level_by_political_party.insert(0, new_column_name, '')
ed_level_by_political_party


for i, ed_level in enumerate(ed_level_list):
    filtered_df = df[(df['Year'].between(2016, 2021)) & (df['Education Level of Mother'] == ed_level)]

    for x, party in enumerate(party_list):
        filtered_df_by_party = filtered_df[filtered_df['Political Party Governing'] == party]
        percentage = (((filtered_df_by_party['Number of Births'].sum()) / (filtered_df_by_party['Total Births in State'].sum()))*100).round(0)

        ed_level_by_political_party.loc[x, 'Political Party'] = party
        ed_level_by_political_party.loc[x, ed_level] = percentage

ed_level_by_political_party

,Political Party,9th > 12th Grade,> 8th Grade,Associate Degree,Bahcelor's Degree,Doctorate,High School Grad,Master's Degree,Some College Credit,Unknown
0,R,10.0,3.0,8.0,20.0,2.0,27.0,8.0,20.0,1.0
1,I,9.0,1.0,8.0,17.0,2.0,30.0,6.0,26.0,1.0
2,D,8.0,3.0,8.0,21.0,3.0,24.0,11.0,19.0,2.0

In [138]:
row_dataRep = ed_level_by_political_party.iloc[0].tolist()
del row_dataRep[0]
row_dataInd = ed_level_by_political_party.iloc[1].tolist()
del row_dataInd[0]
row_dataDem = ed_level_by_political_party.iloc[2].tolist()
del row_dataDem[0]
ed_level_list = df['Education Level of Mother'].unique().tolist()

dataframe_final = pd.DataFrame({'Education Level of Mother': ed_level_list, 'Republican State': row_dataRep, 'Independant State': row_dataInd, 'Democratic State': row_dataDem})
#dataframe_final.set_index('Education Level of Mother', inplace = True)
dataframe_final

,Education Level of Mother,Republican State,Independant State,Democratic State
0,9th > 12th Grade,10.0,9.0,8.0
1,> 8th Grade,3.0,1.0,3.0
2,Associate Degree,8.0,8.0,8.0
3,Bahcelor's Degree,20.0,17.0,21.0
4,Doctorate,2.0,2.0,3.0
5,High School Grad,27.0,30.0,24.0
6,Master's Degree,8.0,6.0,11.0
7,Some College Credit,20.0,26.0,19.0
8,Unknown,1.0,1.0,2.0

In [60]:
# Create a line chart with multiple lines
fig = px.line()

# Add lines to the chart for each column
for col in dataframe_final.columns:
    fig.add_scatter(x = dataframe_final.index, y = dataframe_final[col], name = col)

# Update the chart layout
fig.update_layout(
    title = 'Percentage of Births by Education Level and Political Ideology',
    yaxis_tickformat='.0%',
    xaxis_visible = True,
    plot_bgcolor = 'rgba(0,0,0,0)' )

# Display the figure
fig.show()

In [143]:
# Find percentage of higher ed and lower ed by state

state = 'Alaska'

lower_ed = ['Unknown', '> 8th Grade', '9th > 12th Grade', 'High School Grad']
higher_ed = ['Some College Credit', 'Associate Degree', "Bahcelor's Degree", "Master's Degree", 'Doctorate']

low_ed_level_df = df[(df['Year'].between(2016, 2021)) & (df['State'] == state) & df['Education Level of Mother'].isin(lower_ed)].reset_index()
high_ed_level_df = df[(df['Year'].between(2016, 2021)) & (df['State'] == state) & df['Education Level of Mother'].isin(higher_ed)].reset_index()
percentage_lower_ed = ((low_ed_level_df['Number of Births'].sum() / low_ed_level_df['Total Births in State'].unique().sum()) * 100).round(0)
percentage_higher_ed = ((high_ed_level_df['Number of Births'].sum() / high_ed_level_df['Total Births in State'].unique().sum()) * 100).round(0)

ed_level_df = pd.DataFrame({'Education Level of Mother': ['Higher Ed Level', 'Lower Ed Level'], 'Percentage': [percentage_higher_ed, percentage_lower_ed]})
ed_level_df

  Education Level of Mother  Percentage
0           Higher Ed Level        59.0
1            Lower Ed Level        41.0

In [144]:
fig = px.bar(ed_level_df, x = 'Education Level of Mother', y = 'Percentage', text = 'Percentage')
fig.update_layout(
    title = ('Percentage of Births by Education Level<br>' + 'State: ' + 'Texas' + '  /  ' + 'Year: ' + '2016 - 2018'),
    xaxis_title = "",
    yaxis_title = False,
    yaxis_visible = False,
    xaxis_visible = True,
    plot_bgcolor = 'rgba(0,0,0,0)'  # Set the plot background color to transparent
)
fig.update_traces(textposition = "outside", cliponaxis = False, texttemplate = '%{text}%', )

In [161]:
#Average Age of Mother in the USA by Education Level
average_age_df = df.groupby(['State', 'State Abbreviation', 'Education Level of Mother'])['Average Age of Mother (years)'].mean().round(1).reset_index()
#average_age_df = average_age_df.sort_values('Average Age of Mother (years)', ascending = False)
average_age_df

,State,State Abbreviation,Education Level of Mother,Average Age of Mother (years)
0,Alabama,AL,9th > 12th Grade,24.3
1,Alabama,AL,> 8th Grade,27.7
2,Alabama,AL,Associate Degree,29.0
3,Alabama,AL,Bahcelor's Degree,30.4
4,Alabama,AL,Doctorate,33.1
...,...,...,...,...
445,Wyoming,WY,Doctorate,33.3
446,Wyoming,WY,High School Grad,25.7
447,Wyoming,WY,Master's Degree,32.6
448,Wyoming,WY,Some College Credit,27.3
449,Wyoming,WY,Unknown,29.5

In [156]:
avg_age_fig = px.bar(average_age_df, x = 'Education Level of Mother', y = 'Average Age of Mother (years)', text = 'Average Age of Mother (years)')
avg_age_fig.update_layout(
   # title = ('Births by Education Level of Mother<br>' + 'State: ' + state_selected + '  /  ' + 'Year: ' + year_title),
    xaxis_title = "",
    yaxis_title = False,
    yaxis_visible = False,
    xaxis_visible = True,
    plot_bgcolor = 'rgba(0,0,0,0)'  # Set the plot background color to transparent
)
avg_age_fig.update_traces(textposition = "outside", cliponaxis = False)

In [13]:
df_by_ed_level = us_births[(us_births['State'] == state_selected) & (us_births['Year'] == year_selected)].groupby('Education Level of Mother')['Number of Births'].sum().reset_index()
df_by_ed_level['Birth Percentage'] = (df_by_ed_level['Number of Births'] / total_births) * 100
df_by_ed_level

  Education Level of Mother  Number of Births  Birth Percentage
0          9th > 12th Grade             31227          7.430418
1               > 8th Grade             13407          3.190176
2          Associate Degree             28365          6.749409
3         Bahcelor's Degree             86356         20.548281
4                 Doctorate             13535          3.220633
5          High School Grad             99814         23.750592
6           Master's Degree             40136          9.550301
7       Some College Credit             78868         18.766523
8                   Unknown             28551          6.793668

In [124]:
import pandas as pd
import plotly.express as px



# Create a stacked bar chart with Plotly Express
fig = px.bar(dataframe_final, x = dataframe_final.index, y = 'value', color='Column', barmode='stack')

# Show the chart
fig.show()

In [177]:
average_age_df_map = df[(df['Education Level of Mother'] == 'Doctorate')].groupby(['State', 'State Abbreviation', 'Education Level of Mother'])['Average Age of Mother (years)'].mean().round(1).reset_index()
average_age_df_map.head()

,State,State Abbreviation,Education Level of Mother,Average Age of Mother (years)
0,Alabama,AL,Doctorate,33.1
1,Alaska,AK,Doctorate,34.2
2,Arizona,AZ,Doctorate,33.9
3,Arkansas,AR,Doctorate,32.6
4,California,CA,Doctorate,34.8

In [178]:
map_fig = go.Figure(
    data = go.Choropleth(
    locations = average_age_df_map['State Abbreviation'], # Spatial coordinates
    z = average_age_df_map['Average Age of Mother (years)'].astype(float), # Data to be color-coded
    locationmode = 'USA-states', # set of locations match entries in `locations`
    colorscale = 'Blues',
    colorbar_title = "Average Age of Mother",
    marker_line_width = 2,
    text = average_age_df_map['Average Age of Mother (years)'],
    hovertemplate = 'State: %{location}<br>Average Age: %{text:.1f}<extra></extra>'
    ),
    layout = dict(
                width = 1200,     
                height = 600
            )
)   

map_fig.update_layout(
    #title_text = ('Percentage of Births by State<br>' + 'Education Level of Mother: ' + ed_level_selected + '<br>' + 'Year: ' + year_title),
    geo = dict(
        scope = 'usa',
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)',
        projection_scale = 1,  # Adjust the scale to fit the map on the screen
        lonaxis=dict(range=[-180, 0]),  # Adjust the longitude range to be from -180 to 0
        lataxis=dict(range=[-90, 90]),  # Adjust the latitude range
    ),
    #width = 2000,  # Adjust the width of the map container
    #height=800,  # Adjust the height of the map container
        
    )

In [23]:
merged_df = df_by_ed_level_usa.merge(df_state_totals, on = 'State', suffixes = ('_by ed level', '_by state'))
merged_df

,State,Education Level of Mother,Number of Births_by ed level,Number of Births_by state
0,Alabama,9th > 12th Grade,5612,57647
1,Alabama,> 8th Grade,2294,57647
2,Alabama,Associate Degree,5096,57647
3,Alabama,Bahcelor's Degree,8850,57647
4,Alabama,Doctorate,1121,57647
...,...,...,...,...
453,Wyoming,Doctorate,109,6128
454,Wyoming,High School Grad,1542,6128
455,Wyoming,Master's Degree,445,6128
456,Wyoming,Some College Credit,1514,6128
457,Wyoming,Unknown,58,6128

In [25]:
merged_df['Percentage of Births by Education Level'] = ((merged_df['Number of Births_by ed level'] / merged_df['Number of Births_by state']) * 100).round(2)
merged_df.head(30)

,State,Education Level of Mother,Number of Births_by ed level,Number of Births_by state,Percentage of Births by Education Level
0,Alabama,9th > 12th Grade,5612,57647,9.74
1,Alabama,> 8th Grade,2294,57647,3.98
2,Alabama,Associate Degree,5096,57647,8.84
3,Alabama,Bahcelor's Degree,8850,57647,15.35
4,Alabama,Doctorate,1121,57647,1.94
5,Alabama,High School Grad,19011,57647,32.98
6,Alabama,Master's Degree,4076,57647,7.07
7,Alabama,Some College Credit,11508,57647,19.96
8,Alabama,Unknown,79,57647,0.14
9,Alaska,9th > 12th Grade,735,9469,7.76
10,Alaska,> 8th Grade,53,9469,0.56
11,Alaska,Associate Degree,813,9469,8.59
12,Alaska,Bahcelor's Degree,1579,9469,16.68
13,Alaska,Doctorate,230,9469,2.43
14,Alaska,High School Grad,2994,9469,31.62
15,Alaska,Master's Degree,612,9469,6.46
16,Alaska,Some College Credit,2300,9469,24.29
17,Alaska,Unknown,153,9469,1.62
18,Arizona,9th > 12th Grade,9553,76947,12.42
19,Arizona,> 8th Grade,1958,76947,2.54
20,Arizona,Associate Degree,6703,76947,8.71
21,Arizona,Bahcelor's Degree,13262,76947,17.24
22,Arizona,Doctorate,1641,76947,2.13
23,Arizona,High School Grad,20860,76947,27.11
24,Arizona,Master's Degree,5026,76947,6.53
25,Arizona,Some College Credit,17562,76947,22.82
26,Arizona,Unknown,382,76947,0.50
27,Arkansas,9th > 12th Grade,3672,35251,10.42
28,Arkansas,> 8th Grade,823,35251,2.33
29,Arkansas,Associate Degree,2940,35251,8.34

In [29]:
test = merged_df[(merged_df['Education Level of Mother'] == 'High School Grad')].reset_index()
test

,index,State,Education Level of Mother,Number of Births_by ed level,Number of Births_by state,Percentage of Births by Education Level
0,5,Alabama,High School Grad,19011,57647,32.98
1,14,Alaska,High School Grad,2994,9469,31.62
2,23,Arizona,High School Grad,20860,76947,27.11
3,32,Arkansas,High School Grad,11853,35251,33.62
4,41,California,High School Grad,99814,420259,23.75
5,50,Colorado,High School Grad,12544,61494,20.40
6,59,Connecticut,High School Grad,6570,33460,19.64
7,68,Delaware,High School Grad,2802,10392,26.96
8,77,District of Columbia,High School Grad,1797,8874,20.25
9,86,Florida,High School Grad,65185,209671,31.09
10,95,Georgia,High School Grad,39675,122473,32.39
11,104,Hawaii,High School Grad,2797,15785,17.72
12,113,Idaho,High School Grad,5395,21533,25.05
13,122,Illinois,High School Grad,30949,133298,23.22
14,131,Indiana,High School Grad,23434,78616,29.81
15,140,Iowa,High School Grad,9088,36114,25.16
16,149,Kansas,High School Grad,8766,34376,25.50
17,158,Kentucky,High School Grad,16102,51668,31.16
18,167,Louisiana,High School Grad,19770,57328,34.49
19,176,Maine,High School Grad,2892,11539,25.06
20,185,Maryland,High School Grad,14194,68554,20.70
21,194,Massachusetts,High School Grad,10978,66428,16.53
22,203,Michigan,High School Grad,27691,104074,26.61
23,212,Minnesota,High School Grad,10793,63443,17.01
24,221,Mississippi,High School Grad,10971,35473,30.93
25,230,Missouri,High School Grad,18065,69285,26.07
26,239,Montana,High School Grad,2803,10777,26.01
27,247,Nebraska,High School Grad,4807,24291,19.79
28,256,Nevada,High School Grad,10951,33653,32.54
29,265,New Hampshire,High School Grad,2463,11791,20.89
30,274,New Jersey,High School Grad,23010,97954,23.49
31,283,New Mexico,High School Grad,5645,21903,25.77
32,292,New York,High School Grad,48608,209338,23.22
33,301,North Carolina,High School Grad,29290,116730,25.09
34,310,North Dakota,High School Grad,2144,10059,21.31
35,319,Ohio,High School Grad,37407,129191,28.95
36,328,Oklahoma,High School Grad,14735,47623,30.94
37,337,Oregon,High School Grad,9376,39820,23.55
38,346,Pennsylvania,High School Grad,33519,130693,25.65
39,355,Rhode Island,High School Grad,2097,10101,20.76
40,364,South Carolina,High School Grad,14594,55704,26.20
41,373,South Dakota,High School Grad,2747,10960,25.06
42,382,Tennessee,High School Grad,22506,78689,28.60
43,391,Texas,High School Grad,107422,368190,29.18
44,400,Utah,High School Grad,8971,45702,19.63
45,409,Vermont,High School Grad,1201,5133,23.40
46,418,Virginia,High School Grad,25144,94749,26.54
47,427,Washington,High School Grad,17930,83086,21.58
48,436,West Virginia,High School Grad,5752,17323,33.20
49,445,Wisconsin,High School Grad,15101,60594,24.92
50,454,Wyoming,High School Grad,1542,6128,25.16

In [16]:
                        dl.Map(
                            style = {'width': '100%', 'height': '600px'},
                            children = [
                                dl.TileLayer(),
                                dl.GeoJSON(data = us_states_GEOJSON, 
                                           id = 'state-layer', 
                                           options = {'style': {'color': 'blue'}},
                                           hoverStyle = arrow_function(dict(weight = 10, color = '#666', dashArray = '')))
                                           
                            ], center = [37.0902, -95.7129], zoom = 4)

In [26]:
us_births = us_births.rename(columns = {'State Abbreviation ': 'State_Code', 'Average Age of Mother (years)': 'Avg. Age of Mother', 'Average Birth Weight (g)' : 'Avg. Birth Weight in Grams'})
us_births.head(30)

,State,State Abbreviation,Year,Gender,Education Level of Mother,Education Level Code,Number of Births,Avg. Age of Mother,Avg. Birth Weight in Grams
0,Alabama,AL,2016,F,8th grade or less,1,1052,27.8,3116.9
1,Alabama,AL,2016,F,9th through 12th grade with no diploma,2,3436,24.1,3040.0
2,Alabama,AL,2016,F,High school graduate or GED completed,3,8777,25.4,3080.0
3,Alabama,AL,2016,F,"Some college credit, but not a degree",4,6453,26.7,3121.9
4,Alabama,AL,2016,F,"Associate degree (AA, AS)",5,2227,28.9,3174.3
5,Alabama,AL,2016,F,"Bachelor's degree (BA, AB, BS)",6,4453,30.3,3239.0
6,Alabama,AL,2016,F,"Master's degree (MA, MS, MEng, MEd, MSW, MBA)",7,1910,32.0,3263.5
7,Alabama,AL,2016,F,"Doctorate (PhD, EdD) or Professional Degree (M...",8,487,33.1,3196.7
8,Alabama,AL,2016,F,Unknown or Not Stated,-9,65,27.7,3083.9
9,Alabama,AL,2016,M,8th grade or less,1,1188,27.6,3232.9
10,Alabama,AL,2016,M,9th through 12th grade with no diploma,2,3657,23.9,3121.2
11,Alabama,AL,2016,M,High school graduate or GED completed,3,9284,25.2,3197.9
12,Alabama,AL,2016,M,"Some college credit, but not a degree",4,6516,26.7,3252.1
13,Alabama,AL,2016,M,"Associate degree (AA, AS)",5,2460,29.0,3301.4
14,Alabama,AL,2016,M,"Bachelor's degree (BA, AB, BS)",6,4645,30.3,3376.1
15,Alabama,AL,2016,M,"Master's degree (MA, MS, MEng, MEd, MSW, MBA)",7,1974,32.2,3358.2
16,Alabama,AL,2016,M,"Doctorate (PhD, EdD) or Professional Degree (M...",8,511,32.8,3368.4
17,Alabama,AL,2016,M,Unknown or Not Stated,-9,56,27.2,3107.7
18,Alabama,AL,2017,F,8th grade or less,1,1012,27.6,3139.6
19,Alabama,AL,2017,F,9th through 12th grade with no diploma,2,3283,24.4,3040.6
20,Alabama,AL,2017,F,High school graduate or GED completed,3,8962,25.4,3068.8
21,Alabama,AL,2017,F,"Some college credit, but not a degree",4,6384,26.9,3112.3
22,Alabama,AL,2017,F,"Associate degree (AA, AS)",5,2411,28.9,3197.2
23,Alabama,AL,2017,F,"Bachelor's degree (BA, AB, BS)",6,4335,30.5,3259.2
24,Alabama,AL,2017,F,"Master's degree (MA, MS, MEng, MEd, MSW, MBA)",7,1874,32.1,3251.7
25,Alabama,AL,2017,F,"Doctorate (PhD, EdD) or Professional Degree (M...",8,551,33.1,3230.8
26,Alabama,AL,2017,F,Unknown or Not Stated,-9,62,28.0,3014.4
27,Alabama,AL,2017,M,8th grade or less,1,978,27.6,3229.8
28,Alabama,AL,2017,M,9th through 12th grade with no diploma,2,3345,23.9,3116.2
29,Alabama,AL,2017,M,High school graduate or GED completed,3,9403,25.4,3190.0

In [119]:
#TOTAL BIRTHS BY STATE AND YEAR
total_births_by_state_and_year = us_births.groupby(['State', 'State Abbreviation', 'Year'])['Number of Births'].sum().reset_index(name = 'Total Births in State')
total_births_by_state_and_year

       State State Abbreviation  Year  Total Births in State
0    Alabama                 AL  2016                  59151
1    Alabama                 AL  2017                  58941
2    Alabama                 AL  2018                  57761
3    Alabama                 AL  2019                  58615
4    Alabama                 AL  2020                  57647
..       ...                ...   ...                    ...
301  Wyoming                 WY  2017                   6903
302  Wyoming                 WY  2018                   6562
303  Wyoming                 WY  2019                   6565
304  Wyoming                 WY  2020                   6128
305  Wyoming                 WY  2021                   6237

[306 rows x 4 columns]

In [120]:
#AVERAGE AGE OF MOTHER BY STATE, YEAR AND EDUCATION LEVEL
avg_age_of_mother_by_ed_level_df = us_births.groupby(['State', 'State Abbreviation', 'Education Level of Mother', 'Year'])['Average Age of Mother (years)'].mean().reset_index()
avg_age_of_mother_by_ed_level_df

,State,State Abbreviation,Education Level of Mother,Year,Average Age of Mother (years)
0,Alabama,AL,9th > 12th Grade,2016,24.00
1,Alabama,AL,9th > 12th Grade,2017,24.15
2,Alabama,AL,9th > 12th Grade,2018,24.30
3,Alabama,AL,9th > 12th Grade,2019,24.45
4,Alabama,AL,9th > 12th Grade,2020,24.65
...,...,...,...,...,...
2745,Wyoming,WY,Unknown,2017,28.00
2746,Wyoming,WY,Unknown,2018,29.55
2747,Wyoming,WY,Unknown,2019,30.35
2748,Wyoming,WY,Unknown,2020,29.45
2749,Wyoming,WY,Unknown,2021,29.60

In [121]:
#NUMBER OF BIRTHS BY STATE, YEAR  AND EDUCATION LEVEL
births_by_state_and_ed_level = us_births.groupby(['State', 'State Abbreviation', 'Education Level of Mother', 'Year'])['Number of Births'].sum().reset_index()
births_by_state_and_ed_level.head(40)

,State,State Abbreviation,Education Level of Mother,Year,Number of Births
0,Alabama,AL,9th > 12th Grade,2016,7093
1,Alabama,AL,9th > 12th Grade,2017,6628
2,Alabama,AL,9th > 12th Grade,2018,6169
3,Alabama,AL,9th > 12th Grade,2019,5855
4,Alabama,AL,9th > 12th Grade,2020,5612
5,Alabama,AL,9th > 12th Grade,2021,5240
6,Alabama,AL,> 8th Grade,2016,2240
7,Alabama,AL,> 8th Grade,2017,1990
8,Alabama,AL,> 8th Grade,2018,1856
9,Alabama,AL,> 8th Grade,2019,2350
10,Alabama,AL,> 8th Grade,2020,2294
11,Alabama,AL,> 8th Grade,2021,2386
12,Alabama,AL,Associate Degree,2016,4687
13,Alabama,AL,Associate Degree,2017,4857
14,Alabama,AL,Associate Degree,2018,5034
15,Alabama,AL,Associate Degree,2019,5017
16,Alabama,AL,Associate Degree,2020,5096
17,Alabama,AL,Associate Degree,2021,5039
18,Alabama,AL,Bahcelor's Degree,2016,9098
19,Alabama,AL,Bahcelor's Degree,2017,8959
20,Alabama,AL,Bahcelor's Degree,2018,8833
21,Alabama,AL,Bahcelor's Degree,2019,8892
22,Alabama,AL,Bahcelor's Degree,2020,8850
23,Alabama,AL,Bahcelor's Degree,2021,9266
24,Alabama,AL,Doctorate,2016,998
25,Alabama,AL,Doctorate,2017,1139
26,Alabama,AL,Doctorate,2018,1101
27,Alabama,AL,Doctorate,2019,1056
28,Alabama,AL,Doctorate,2020,1121
29,Alabama,AL,Doctorate,2021,1220
30,Alabama,AL,High School Grad,2016,18061
31,Alabama,AL,High School Grad,2017,18365
32,Alabama,AL,High School Grad,2018,18306
33,Alabama,AL,High School Grad,2019,18887
34,Alabama,AL,High School Grad,2020,19011
35,Alabama,AL,High School Grad,2021,19165
36,Alabama,AL,Master's Degree,2016,3884
37,Alabama,AL,Master's Degree,2017,3821
38,Alabama,AL,Master's Degree,2018,3857
39,Alabama,AL,Master's Degree,2019,3915

In [122]:
merged_df = births_by_state_and_ed_level.merge(total_births_by_state_and_year, on = ['State', "State Abbreviation", 'Year'], suffixes = ('_by ed level', '_by state'))
merged_df.head(40)

,State,State Abbreviation,Education Level of Mother,Year,Number of Births,Total Births in State
0,Alabama,AL,9th > 12th Grade,2016,7093,59151
1,Alabama,AL,> 8th Grade,2016,2240,59151
2,Alabama,AL,Associate Degree,2016,4687,59151
3,Alabama,AL,Bahcelor's Degree,2016,9098,59151
4,Alabama,AL,Doctorate,2016,998,59151
5,Alabama,AL,High School Grad,2016,18061,59151
6,Alabama,AL,Master's Degree,2016,3884,59151
7,Alabama,AL,Some College Credit,2016,12969,59151
8,Alabama,AL,Unknown,2016,121,59151
9,Alabama,AL,9th > 12th Grade,2017,6628,58941
10,Alabama,AL,> 8th Grade,2017,1990,58941
11,Alabama,AL,Associate Degree,2017,4857,58941
12,Alabama,AL,Bahcelor's Degree,2017,8959,58941
13,Alabama,AL,Doctorate,2017,1139,58941
14,Alabama,AL,High School Grad,2017,18365,58941
15,Alabama,AL,Master's Degree,2017,3821,58941
16,Alabama,AL,Some College Credit,2017,13035,58941
17,Alabama,AL,Unknown,2017,147,58941
18,Alabama,AL,9th > 12th Grade,2018,6169,57761
19,Alabama,AL,> 8th Grade,2018,1856,57761
20,Alabama,AL,Associate Degree,2018,5034,57761
21,Alabama,AL,Bahcelor's Degree,2018,8833,57761
22,Alabama,AL,Doctorate,2018,1101,57761
23,Alabama,AL,High School Grad,2018,18306,57761
24,Alabama,AL,Master's Degree,2018,3857,57761
25,Alabama,AL,Some College Credit,2018,12493,57761
26,Alabama,AL,Unknown,2018,112,57761
27,Alabama,AL,9th > 12th Grade,2019,5855,58615
28,Alabama,AL,> 8th Grade,2019,2350,58615
29,Alabama,AL,Associate Degree,2019,5017,58615
30,Alabama,AL,Bahcelor's Degree,2019,8892,58615
31,Alabama,AL,Doctorate,2019,1056,58615
32,Alabama,AL,High School Grad,2019,18887,58615
33,Alabama,AL,Master's Degree,2019,3915,58615
34,Alabama,AL,Some College Credit,2019,12545,58615
35,Alabama,AL,Unknown,2019,98,58615
36,Alabama,AL,9th > 12th Grade,2020,5612,57647
37,Alabama,AL,> 8th Grade,2020,2294,57647
38,Alabama,AL,Associate Degree,2020,5096,57647
39,Alabama,AL,Bahcelor's Degree,2020,8850,57647

In [123]:
merged_df_final = merged_df.merge(avg_age_of_mother_by_ed_level_df, on = ['State', "State Abbreviation", 'Year', 'Education Level of Mother'], suffixes = ('_by ed level', '_by state'))
merged_df_final.head(40)
#merged_df_final.to_csv('us_births_2016_2021_updated.csv', index = False)

,State,State Abbreviation,Education Level of Mother,Year,Number of Births,Total Births in State,Average Age of Mother (years)
0,Alabama,AL,9th > 12th Grade,2016,7093,59151,24.00
1,Alabama,AL,> 8th Grade,2016,2240,59151,27.70
2,Alabama,AL,Associate Degree,2016,4687,59151,28.95
3,Alabama,AL,Bahcelor's Degree,2016,9098,59151,30.30
4,Alabama,AL,Doctorate,2016,998,59151,32.95
5,Alabama,AL,High School Grad,2016,18061,59151,25.30
6,Alabama,AL,Master's Degree,2016,3884,59151,32.10
7,Alabama,AL,Some College Credit,2016,12969,59151,26.70
8,Alabama,AL,Unknown,2016,121,59151,27.45
9,Alabama,AL,9th > 12th Grade,2017,6628,58941,24.15
10,Alabama,AL,> 8th Grade,2017,1990,58941,27.60
11,Alabama,AL,Associate Degree,2017,4857,58941,28.90
12,Alabama,AL,Bahcelor's Degree,2017,8959,58941,30.45
13,Alabama,AL,Doctorate,2017,1139,58941,33.05
14,Alabama,AL,High School Grad,2017,18365,58941,25.40
15,Alabama,AL,Master's Degree,2017,3821,58941,31.95
16,Alabama,AL,Some College Credit,2017,13035,58941,26.85
17,Alabama,AL,Unknown,2017,147,58941,27.35
18,Alabama,AL,9th > 12th Grade,2018,6169,57761,24.30
19,Alabama,AL,> 8th Grade,2018,1856,57761,27.90
20,Alabama,AL,Associate Degree,2018,5034,57761,28.95
21,Alabama,AL,Bahcelor's Degree,2018,8833,57761,30.45
22,Alabama,AL,Doctorate,2018,1101,57761,33.25
23,Alabama,AL,High School Grad,2018,18306,57761,25.50
24,Alabama,AL,Master's Degree,2018,3857,57761,31.95
25,Alabama,AL,Some College Credit,2018,12493,57761,27.00
26,Alabama,AL,Unknown,2018,112,57761,27.25
27,Alabama,AL,9th > 12th Grade,2019,5855,58615,24.45
28,Alabama,AL,> 8th Grade,2019,2350,58615,27.85
29,Alabama,AL,Associate Degree,2019,5017,58615,28.95
30,Alabama,AL,Bahcelor's Degree,2019,8892,58615,30.45
31,Alabama,AL,Doctorate,2019,1056,58615,33.15
32,Alabama,AL,High School Grad,2019,18887,58615,25.55
33,Alabama,AL,Master's Degree,2019,3915,58615,32.00
34,Alabama,AL,Some College Credit,2019,12545,58615,27.10
35,Alabama,AL,Unknown,2019,98,58615,27.70
36,Alabama,AL,9th > 12th Grade,2020,5612,57647,24.65
37,Alabama,AL,> 8th Grade,2020,2294,57647,27.50
38,Alabama,AL,Associate Degree,2020,5096,57647,29.15
39,Alabama,AL,Bahcelor's Degree,2020,8850,57647,30.45

In [138]:
example_df = merged_df_final[(merged_df_final['Year'].between(2016, 2018)) & (merged_df_final['State'] == 'Alabama')].groupby('Education Level of Mother')['Number of Births', 'Total Births in State'].sum().reset_index()
example_df['Percentage of Births by Ed Level'] = ((example_df['Number of Births'] / example_df['Total Births in State'])*100).round(1)


#example_df['Percentage of Births by Education Level'] = ((merged_df_final['Number of Births'] / merged_df_final['Total Births in State']) * 100).round(1)
example_df

/var/folders/0p/ymgcc2_s2fz5y2m7s2hb1dzw0000gn/T/ipykernel_974/3844595338.py:1: FutureWarning:

Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

,Education Level of Mother,Number of Births,Total Births in State,Percentage of Births by Ed Level
0,9th > 12th Grade,19890,175853,11.3
1,> 8th Grade,6086,175853,3.5
2,Associate Degree,14578,175853,8.3
3,Bahcelor's Degree,26890,175853,15.3
4,Doctorate,3238,175853,1.8
5,High School Grad,54732,175853,31.1
6,Master's Degree,11562,175853,6.6
7,Some College Credit,38497,175853,21.9
8,Unknown,380,175853,0.2

In [131]:
year_list = [2016, 2018]
divide = (year_list[1] - year_list[0]) + 1
example2_df = merged_df_final[(merged_df_final['Year'].between(2016, 2018)) & (merged_df_final['State'] == 'Alabama')].groupby('Education Level of Mother')['Number of Births', 'Average Age of Mother (years)'].sum().reset_index()
example2_df['Average Age of Mother (years)'] = (example2_df['Average Age of Mother (years)'] / divide).round(1)
example2_df

/var/folders/0p/ymgcc2_s2fz5y2m7s2hb1dzw0000gn/T/ipykernel_974/1403371912.py:3: FutureWarning:

Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

  Education Level of Mother  Number of Births  Average Age of Mother (years)
0          9th > 12th Grade             19890                           24.1
1               > 8th Grade              6086                           27.7
2          Associate Degree             14578                           28.9
3         Bahcelor's Degree             26890                           30.4
4                 Doctorate              3238                           33.1
5          High School Grad             54732                           25.4
6           Master's Degree             11562                           32.0
7       Some College Credit             38497                           26.8
8                   Unknown               380                           27.4

In [139]:
example3 = merged_df_final[(merged_df_final['Year'] == 2016) & (merged_df_final['State'] == 'Alabama')].groupby('Education Level of Mother')['Number of Births', 'Average Age of Mother (years)'].sum().reset_index()
example3

/var/folders/0p/ymgcc2_s2fz5y2m7s2hb1dzw0000gn/T/ipykernel_974/559586766.py:1: FutureWarning:

Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

  Education Level of Mother  Number of Births  Average Age of Mother (years)
0          9th > 12th Grade              7093                          24.00
1               > 8th Grade              2240                          27.70
2          Associate Degree              4687                          28.95
3         Bahcelor's Degree              9098                          30.30
4                 Doctorate               998                          32.95
5          High School Grad             18061                          25.30
6           Master's Degree              3884                          32.10
7       Some College Credit             12969                          26.70
8                   Unknown               121                          27.45

In [43]:
merged_df_filtered = merged_df[(merged_df['Year'].between(2016,2018)) & (merged_df['Education Level of Mother'] == 'Doctorate')].groupby('State').sum().reset_index()
merged_df_filtered

,State,Year,Number of Births_by ed level,Number of Births_by state,Percentage of Births by Education Level
0,Alabama,6051,3238,175853,5.53
1,Alaska,6051,581,31740,5.51
2,Arizona,6051,4703,247115,5.71
3,Arkansas,6051,1608,112812,4.28
4,California,6051,41398,1415405,8.79
5,Colorado,6051,6083,193880,9.42
6,Connecticut,6051,4314,105961,12.22
7,Delaware,6051,787,32468,7.26
8,District of Columbia,6051,3149,28630,33.03
9,Florida,6051,14080,670194,6.31
10,Georgia,6051,6392,385457,4.98
11,Hawaii,6051,713,52548,4.08
12,Idaho,6051,911,66066,4.13
13,Illinois,6051,13772,448650,9.22
14,Indiana,6051,4637,246907,5.63
15,Iowa,6051,3167,115618,8.22
16,Kansas,6051,2680,110833,7.25
17,Kentucky,6051,3478,164123,6.36
18,Louisiana,6051,3540,183811,5.79
19,Maine,6051,1106,37293,8.89
20,Maryland,6051,9723,215857,13.51
21,Massachusetts,6051,11946,211128,16.98
22,Michigan,6051,8222,334773,7.38
23,Minnesota,6051,6793,205688,9.91
24,Mississippi,6051,1787,112285,4.78
25,Missouri,6051,5206,221008,7.07
26,Montana,6051,830,35594,7.00
27,Nebraska,6051,2337,77871,9.00
28,Nevada,6051,1489,107698,4.15
29,New Hampshire,6051,1167,36378,9.64
30,New Jersey,6051,10580,305120,10.41
31,New Mexico,6051,1560,71498,6.56
32,New York,6051,24728,690258,10.75
33,North Carolina,6051,8977,359858,7.49
34,North Dakota,6051,937,32756,8.60
35,Ohio,6051,10285,410051,7.53
36,Oklahoma,6051,2470,152606,4.85
37,Oregon,6051,4154,131354,9.49
38,Pennsylvania,6051,13370,412827,9.71
39,Rhode Island,6051,1090,31942,10.24
40,South Carolina,6051,3719,171040,6.52
41,South Dakota,6051,891,36302,7.37
42,Tennessee,6051,5541,242574,6.86
43,Texas,6051,23409,1158721,6.06
44,Utah,6051,1917,146258,3.92
45,Vermont,6051,632,16843,11.27
46,Virginia,6051,10417,302694,10.33
47,Washington,6051,7634,264152,8.68
48,West Virginia,6051,1181,56002,6.33
49,Wisconsin,6051,5127,195688,7.86
50,Wyoming,6051,383,20851,5.52

In [36]:
fig = px.choropleth(locations = (merged_df_filtered['State Abbreviation']), locationmode = "USA-states",
                    color = (merged_df_filtered['Percentage of Births by Education Level']), scope = "usa")
fig.show()

In [38]:
fig = go.Figure(data = go.Choropleth(
    locations = merged_df_filtered['State Abbreviation'], # Spatial coordinates
    z = merged_df_filtered['Percentage of Births by Education Level'].astype(float), # Data to be color-coded
    locationmode = 'USA-states', # set of locations match entries in `locations`
    colorscale = 'Reds',
    colorbar_title = "Percentage",
))

fig.update_layout(
    title_text = 'Percentage of Births by Education Level - ',
    geo_scope='usa', # limite map scope to USA
)

fig.show()

In [39]:
 filtered_map_df = map_df[(map_df['Year'] == year_selected) & (map_df['Education Level of Mother'] == ed_level_selected)].reset_index()

State                                       object
State Abbreviation                          object
Education Level of Mother                   object
Year                                         int64
Number of Births_by ed level                 int64
Number of Births_by state                    int64
Percentage of Births by Education Level    float64
dtype: object

In [41]:

df_by_ed_level_usa = us_births.groupby(['State', 'State Abbreviation', 'Education Level of Mother', 'Year'])['Number of Births'].sum().reset_index()
merged_df = df_by_ed_level_usa.merge(total_births_by_state_and_year, on = ['State', "State Abbreviation", 'Year'], suffixes = ('_by ed level', '_by state'))

(2750, 7)

In [52]:
total_births_by_state_and_year = us_births[(us_births['Year'] == 2017)].groupby(['State', 'State Abbreviation', 'Year'])['Number of Births'].sum().reset_index(name = 'Total Births in State')

total_births_by_state_and_year

                   State State Abbreviation  Year  Total Births in State
0                Alabama                 AL  2017                  58941
1                 Alaska                 AK  2017                  10445
2                Arizona                 AZ  2017                  81872
3               Arkansas                 AR  2017                  37520
4             California                 CA  2017                 471658
5               Colorado                 CO  2017                  64382
6            Connecticut                 CT  2017                  35221
7               Delaware                 DE  2017                  10855
8   District of Columbia                 DC  2017                   9560
9                Florida                 FL  2017                 223630
10               Georgia                 GA  2017                 129243
11                Hawaii                 HI  2017                  17517
12                 Idaho                 ID  2017                  22181
13              Illinois                 IL  2017                 149390
14               Indiana                 IN  2017                  82170
15                  Iowa                 IA  2017                  38430
16                Kansas                 KS  2017                  36519
17              Kentucky                 KY  2017                  54752
18             Louisiana                 LA  2017                  61018
19                 Maine                 ME  2017                  12289
20              Maryland                 MD  2017                  71641
21         Massachusetts                 MA  2017                  70702
22              Michigan                 MI  2017                 111426
23             Minnesota                 MN  2017                  68595
24           Mississippi                 MS  2017                  37357
25              Missouri                 MO  2017                  73034
26               Montana                 MT  2017                  11799
27              Nebraska                 NE  2017                  25809
28                Nevada                 NV  2017                  35756
29         New Hampshire                 NH  2017                  12116
30            New Jersey                 NJ  2017                 101250
31            New Mexico                 NM  2017                  23767
32              New York                 NY  2017                 229737
33        North Carolina                 NC  2017                 120125
34          North Dakota                 ND  2017                  10737
35                  Ohio                 OH  2017                 136832
36              Oklahoma                 OK  2017                  50214
37                Oregon                 OR  2017                  43631
38          Pennsylvania                 PA  2017                 137745
39          Rhode Island                 RI  2017                  10638
40        South Carolina                 SC  2017                  57029
41          South Dakota                 SD  2017                  12134
42             Tennessee                 TN  2017                  81016
43                 Texas                 TX  2017                 382050
44                  Utah                 UT  2017                  48585
45               Vermont                 VT  2017                   5655
46              Virginia                 VA  2017                 100391
47            Washington                 WA  2017                  87562
48         West Virginia                 WV  2017                  18675
49             Wisconsin                 WI  2017                  64975
50               Wyoming                 WY  2017                   6903

In [80]:
df_by_ed_level_usa = us_births[(us_births['Year'] == 2017) & (us_births['Education Level of Mother'] == 'Doctorate')].groupby(['State', 'State Abbreviation', 'Year', 'Education Level of Mother'])['Number of Births'].sum().reset_index()
df_by_ed_level_usa

,State,State Abbreviation,Year,Education Level of Mother,Number of Births
0,Alabama,AL,2017,Doctorate,1139
1,Alaska,AK,2017,Doctorate,185
2,Arizona,AZ,2017,Doctorate,1594
3,Arkansas,AR,2017,Doctorate,495
4,California,CA,2017,Doctorate,13703
5,Colorado,CO,2017,Doctorate,2022
6,Connecticut,CT,2017,Doctorate,1444
7,Delaware,DE,2017,Doctorate,238
8,District of Columbia,DC,2017,Doctorate,1014
9,Florida,FL,2017,Doctorate,4656
10,Georgia,GA,2017,Doctorate,2145
11,Hawaii,HI,2017,Doctorate,249
12,Idaho,ID,2017,Doctorate,318
13,Illinois,IL,2017,Doctorate,4539
14,Indiana,IN,2017,Doctorate,1504
15,Iowa,IA,2017,Doctorate,1075
16,Kansas,KS,2017,Doctorate,874
17,Kentucky,KY,2017,Doctorate,1120
18,Louisiana,LA,2017,Doctorate,1172
19,Maine,ME,2017,Doctorate,359
20,Maryland,MD,2017,Doctorate,3243
21,Massachusetts,MA,2017,Doctorate,3890
22,Michigan,MI,2017,Doctorate,2681
23,Minnesota,MN,2017,Doctorate,2332
24,Mississippi,MS,2017,Doctorate,631
25,Missouri,MO,2017,Doctorate,1701
26,Montana,MT,2017,Doctorate,313
27,Nebraska,NE,2017,Doctorate,749
28,Nevada,NV,2017,Doctorate,479
29,New Hampshire,NH,2017,Doctorate,392
30,New Jersey,NJ,2017,Doctorate,3464
31,New Mexico,NM,2017,Doctorate,513
32,New York,NY,2017,Doctorate,8113
33,North Carolina,NC,2017,Doctorate,3017
34,North Dakota,ND,2017,Doctorate,303
35,Ohio,OH,2017,Doctorate,3387
36,Oklahoma,OK,2017,Doctorate,810
37,Oregon,OR,2017,Doctorate,1367
38,Pennsylvania,PA,2017,Doctorate,4521
39,Rhode Island,RI,2017,Doctorate,407
40,South Carolina,SC,2017,Doctorate,1228
41,South Dakota,SD,2017,Doctorate,277
42,Tennessee,TN,2017,Doctorate,1856
43,Texas,TX,2017,Doctorate,7731
44,Utah,UT,2017,Doctorate,648
45,Vermont,VT,2017,Doctorate,211
46,Virginia,VA,2017,Doctorate,3469
47,Washington,WA,2017,Doctorate,2627
48,West Virginia,WV,2017,Doctorate,407
49,Wisconsin,WI,2017,Doctorate,1673
50,Wyoming,WY,2017,Doctorate,111

In [56]:
merged_df = df_by_ed_level_usa.merge(total_births_by_state_and_year, on = ['State', 'State Abbreviation', 'Year'], suffixes = ('_by ed level', '_by state'))
merged_df

,State,State Abbreviation,Year,Education Level of Mother,Number of Births,Total Births in State
0,Alabama,AL,2017,Doctorate,1139,58941
1,Alaska,AK,2017,Doctorate,185,10445
2,Arizona,AZ,2017,Doctorate,1594,81872
3,Arkansas,AR,2017,Doctorate,495,37520
4,California,CA,2017,Doctorate,13703,471658
5,Colorado,CO,2017,Doctorate,2022,64382
6,Connecticut,CT,2017,Doctorate,1444,35221
7,Delaware,DE,2017,Doctorate,238,10855
8,District of Columbia,DC,2017,Doctorate,1014,9560
9,Florida,FL,2017,Doctorate,4656,223630
10,Georgia,GA,2017,Doctorate,2145,129243
11,Hawaii,HI,2017,Doctorate,249,17517
12,Idaho,ID,2017,Doctorate,318,22181
13,Illinois,IL,2017,Doctorate,4539,149390
14,Indiana,IN,2017,Doctorate,1504,82170
15,Iowa,IA,2017,Doctorate,1075,38430
16,Kansas,KS,2017,Doctorate,874,36519
17,Kentucky,KY,2017,Doctorate,1120,54752
18,Louisiana,LA,2017,Doctorate,1172,61018
19,Maine,ME,2017,Doctorate,359,12289
20,Maryland,MD,2017,Doctorate,3243,71641
21,Massachusetts,MA,2017,Doctorate,3890,70702
22,Michigan,MI,2017,Doctorate,2681,111426
23,Minnesota,MN,2017,Doctorate,2332,68595
24,Mississippi,MS,2017,Doctorate,631,37357
25,Missouri,MO,2017,Doctorate,1701,73034
26,Montana,MT,2017,Doctorate,313,11799
27,Nebraska,NE,2017,Doctorate,749,25809
28,Nevada,NV,2017,Doctorate,479,35756
29,New Hampshire,NH,2017,Doctorate,392,12116
30,New Jersey,NJ,2017,Doctorate,3464,101250
31,New Mexico,NM,2017,Doctorate,513,23767
32,New York,NY,2017,Doctorate,8113,229737
33,North Carolina,NC,2017,Doctorate,3017,120125
34,North Dakota,ND,2017,Doctorate,303,10737
35,Ohio,OH,2017,Doctorate,3387,136832
36,Oklahoma,OK,2017,Doctorate,810,50214
37,Oregon,OR,2017,Doctorate,1367,43631
38,Pennsylvania,PA,2017,Doctorate,4521,137745
39,Rhode Island,RI,2017,Doctorate,407,10638
40,South Carolina,SC,2017,Doctorate,1228,57029
41,South Dakota,SD,2017,Doctorate,277,12134
42,Tennessee,TN,2017,Doctorate,1856,81016
43,Texas,TX,2017,Doctorate,7731,382050
44,Utah,UT,2017,Doctorate,648,48585
45,Vermont,VT,2017,Doctorate,211,5655
46,Virginia,VA,2017,Doctorate,3469,100391
47,Washington,WA,2017,Doctorate,2627,87562
48,West Virginia,WV,2017,Doctorate,407,18675
49,Wisconsin,WI,2017,Doctorate,1673,64975
50,Wyoming,WY,2017,Doctorate,111,6903

In [43]:
merged_df = merged_df.groupby(['State', 'State Abbreviation'])['Number of Births', 'Total Births in State'].sum().reset_index()
merged_df

/var/folders/0p/ymgcc2_s2fz5y2m7s2hb1dzw0000gn/T/ipykernel_974/2814813678.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  merged_df = merged_df.groupby(['State', 'State Abbreviation'])['Number of Births', 'Total Births in State'].sum().reset_index()

,State,State Abbreviation,Number of Births,Total Births in State
0,Alabama,AL,3238,175853
1,Alaska,AK,581,31740
2,Arizona,AZ,4703,247115
3,Arkansas,AR,1608,112812
4,California,CA,41398,1415405
5,Colorado,CO,6083,193880
6,Connecticut,CT,4314,105961
7,Delaware,DE,787,32468
8,District of Columbia,DC,3149,28630
9,Florida,FL,14080,670194
10,Georgia,GA,6392,385457
11,Hawaii,HI,713,52548
12,Idaho,ID,911,66066
13,Illinois,IL,13772,448650
14,Indiana,IN,4637,246907
15,Iowa,IA,3167,115618
16,Kansas,KS,2680,110833
17,Kentucky,KY,3478,164123
18,Louisiana,LA,3540,183811
19,Maine,ME,1106,37293
20,Maryland,MD,9723,215857
21,Massachusetts,MA,11946,211128
22,Michigan,MI,8222,334773
23,Minnesota,MN,6793,205688
24,Mississippi,MS,1787,112285
25,Missouri,MO,5206,221008
26,Montana,MT,830,35594
27,Nebraska,NE,2337,77871
28,Nevada,NV,1489,107698
29,New Hampshire,NH,1167,36378
30,New Jersey,NJ,10580,305120
31,New Mexico,NM,1560,71498
32,New York,NY,24728,690258
33,North Carolina,NC,8977,359858
34,North Dakota,ND,937,32756
35,Ohio,OH,10285,410051
36,Oklahoma,OK,2470,152606
37,Oregon,OR,4154,131354
38,Pennsylvania,PA,13370,412827
39,Rhode Island,RI,1090,31942
40,South Carolina,SC,3719,171040
41,South Dakota,SD,891,36302
42,Tennessee,TN,5541,242574
43,Texas,TX,23409,1158721
44,Utah,UT,1917,146258
45,Vermont,VT,632,16843
46,Virginia,VA,10417,302694
47,Washington,WA,7634,264152
48,West Virginia,WV,1181,56002
49,Wisconsin,WI,5127,195688
50,Wyoming,WY,383,20851

In [57]:
merged_df['Percentage of Births by State'] = ((merged_df['Number of Births'] / merged_df['Total Births in State']) * 100).round(2)
merged_df

,State,State Abbreviation,Year,Education Level of Mother,Number of Births,Total Births in State,Percentage of Births by State
0,Alabama,AL,2017,Doctorate,1139,58941,1.93
1,Alaska,AK,2017,Doctorate,185,10445,1.77
2,Arizona,AZ,2017,Doctorate,1594,81872,1.95
3,Arkansas,AR,2017,Doctorate,495,37520,1.32
4,California,CA,2017,Doctorate,13703,471658,2.91
5,Colorado,CO,2017,Doctorate,2022,64382,3.14
6,Connecticut,CT,2017,Doctorate,1444,35221,4.10
7,Delaware,DE,2017,Doctorate,238,10855,2.19
8,District of Columbia,DC,2017,Doctorate,1014,9560,10.61
9,Florida,FL,2017,Doctorate,4656,223630,2.08
10,Georgia,GA,2017,Doctorate,2145,129243,1.66
11,Hawaii,HI,2017,Doctorate,249,17517,1.42
12,Idaho,ID,2017,Doctorate,318,22181,1.43
13,Illinois,IL,2017,Doctorate,4539,149390,3.04
14,Indiana,IN,2017,Doctorate,1504,82170,1.83
15,Iowa,IA,2017,Doctorate,1075,38430,2.80
16,Kansas,KS,2017,Doctorate,874,36519,2.39
17,Kentucky,KY,2017,Doctorate,1120,54752,2.05
18,Louisiana,LA,2017,Doctorate,1172,61018,1.92
19,Maine,ME,2017,Doctorate,359,12289,2.92
20,Maryland,MD,2017,Doctorate,3243,71641,4.53
21,Massachusetts,MA,2017,Doctorate,3890,70702,5.50
22,Michigan,MI,2017,Doctorate,2681,111426,2.41
23,Minnesota,MN,2017,Doctorate,2332,68595,3.40
24,Mississippi,MS,2017,Doctorate,631,37357,1.69
25,Missouri,MO,2017,Doctorate,1701,73034,2.33
26,Montana,MT,2017,Doctorate,313,11799,2.65
27,Nebraska,NE,2017,Doctorate,749,25809,2.90
28,Nevada,NV,2017,Doctorate,479,35756,1.34
29,New Hampshire,NH,2017,Doctorate,392,12116,3.24
30,New Jersey,NJ,2017,Doctorate,3464,101250,3.42
31,New Mexico,NM,2017,Doctorate,513,23767,2.16
32,New York,NY,2017,Doctorate,8113,229737,3.53
33,North Carolina,NC,2017,Doctorate,3017,120125,2.51
34,North Dakota,ND,2017,Doctorate,303,10737,2.82
35,Ohio,OH,2017,Doctorate,3387,136832,2.48
36,Oklahoma,OK,2017,Doctorate,810,50214,1.61
37,Oregon,OR,2017,Doctorate,1367,43631,3.13
38,Pennsylvania,PA,2017,Doctorate,4521,137745,3.28
39,Rhode Island,RI,2017,Doctorate,407,10638,3.83
40,South Carolina,SC,2017,Doctorate,1228,57029,2.15
41,South Dakota,SD,2017,Doctorate,277,12134,2.28
42,Tennessee,TN,2017,Doctorate,1856,81016,2.29
43,Texas,TX,2017,Doctorate,7731,382050,2.02
44,Utah,UT,2017,Doctorate,648,48585,1.33
45,Vermont,VT,2017,Doctorate,211,5655,3.73
46,Virginia,VA,2017,Doctorate,3469,100391,3.46
47,Washington,WA,2017,Doctorate,2627,87562,3.00
48,West Virginia,WV,2017,Doctorate,407,18675,2.18
49,Wisconsin,WI,2017,Doctorate,1673,64975,2.57
50,Wyoming,WY,2017,Doctorate,111,6903,1.61

In [142]:
df = pd.read_csv('state_by_party.csv')
complete_df = pd.read_csv('us_births_2016_2021_updated.csv')
df

       State  Year Political Party Governing
0    Alabama  2016                         R
1    Alabama  2018                         R
2    Alabama  2019                         R
3    Alabama  2020                         R
4    Alabama  2021                         R
..       ...   ...                       ...
295  Wyoming  2019                         R
296  Wyoming  2017                         R
297  Wyoming  2016                         R
298  Wyoming  2020                         R
299  Wyoming  2021                         R

[300 rows x 3 columns]

In [143]:
complete_df

,State,State Abbreviation,Education Level of Mother,Year,Number of Births,Total Births in State,Average Age of Mother (years)
0,Alabama,AL,9th > 12th Grade,2016,7093,59151,24.00
1,Alabama,AL,> 8th Grade,2016,2240,59151,27.70
2,Alabama,AL,Associate Degree,2016,4687,59151,28.95
3,Alabama,AL,Bahcelor's Degree,2016,9098,59151,30.30
4,Alabama,AL,Doctorate,2016,998,59151,32.95
...,...,...,...,...,...,...,...
2745,Wyoming,WY,Doctorate,2021,137,6237,33.45
2746,Wyoming,WY,High School Grad,2021,1483,6237,25.95
2747,Wyoming,WY,Master's Degree,2021,471,6237,32.75
2748,Wyoming,WY,Some College Credit,2021,1491,6237,27.45
2749,Wyoming,WY,Unknown,2021,81,6237,29.60

In [146]:
merged_df = complete_df.merge(df, on = ['State', 'Year'], suffixes = ('_by ed level', '_by state'))
merged_df.to_csv('us_births_data.csv')

In [154]:
party_by_state_and_year = merged_df[(merged_df['Year'] == 2016)]
party_by_state_and_year

,State,State Abbreviation,Education Level of Mother,Year,Number of Births,Total Births in State,Average Age of Mother (years),Political Party Governing
0,Alabama,AL,9th > 12th Grade,2016,7093,59151,24.00,R
1,Alabama,AL,> 8th Grade,2016,2240,59151,27.70,R
2,Alabama,AL,Associate Degree,2016,4687,59151,28.95,R
3,Alabama,AL,Bahcelor's Degree,2016,9098,59151,30.30,R
4,Alabama,AL,Doctorate,2016,998,59151,32.95,R
...,...,...,...,...,...,...,...,...
2646,Wyoming,WY,Doctorate,2016,139,7386,33.10,R
2647,Wyoming,WY,High School Grad,2016,1767,7386,25.55,R
2648,Wyoming,WY,Master's Degree,2016,499,7386,32.40,R
2649,Wyoming,WY,Some College Credit,2016,1902,7386,27.10,R
2650,Wyoming,WY,Unknown,2016,80,7386,29.85,R

In [8]:
df_avg_age = pd.read_csv("us_births_2016_2021_updated.csv")
df_avg_age = df_avg_age[df_avg_age['Year'].between(2016, 2018) & (df_avg_age['Education Level of Mother'] == 'Doctorate')].groupby(['State', 'State Abbreviation'])['Average Age of Mother (years)'].mean().reset_index()
df_avg_age

                   State State Abbreviation  Average Age of Mother (years)
0                Alabama                 AL                      33.083333
1                 Alaska                 AK                      34.100000
2                Arizona                 AZ                      33.683333
3               Arkansas                 AR                      32.483333
4             California                 CA                      34.733333
5               Colorado                 CO                      34.283333
6            Connecticut                 CT                      34.266667
7               Delaware                 DE                      33.683333
8   District of Columbia                 DC                      35.116667
9                Florida                 FL                      33.683333
10               Georgia                 GA                      33.850000
11                Hawaii                 HI                      34.533333
12                 Idaho                 ID                      33.400000
13              Illinois                 IL                      33.816667
14               Indiana                 IN                      33.233333
15                  Iowa                 IA                      32.633333
16                Kansas                 KS                      32.966667
17              Kentucky                 KY                      32.833333
18             Louisiana                 LA                      33.133333
19                 Maine                 ME                      33.466667
20              Maryland                 MD                      34.500000
21         Massachusetts                 MA                      34.400000
22              Michigan                 MI                      33.166667
23             Minnesota                 MN                      33.383333
24           Mississippi                 MS                      32.800000
25              Missouri                 MO                      33.116667
26               Montana                 MT                      33.500000
27              Nebraska                 NE                      32.783333
28                Nevada                 NV                      34.233333
29         New Hampshire                 NH                      34.016667
30            New Jersey                 NJ                      34.216667
31            New Mexico                 NM                      33.866667
32              New York                 NY                      34.316667
33        North Carolina                 NC                      33.683333
34          North Dakota                 ND                      32.383333
35                  Ohio                 OH                      33.066667
36              Oklahoma                 OK                      32.833333
37                Oregon                 OR                      34.200000
38          Pennsylvania                 PA                      33.650000
39          Rhode Island                 RI                      34.016667
40        South Carolina                 SC                      33.216667
41          South Dakota                 SD                      32.283333
42             Tennessee                 TN                      33.283333
43                 Texas                 TX                      33.600000
44                  Utah                 UT                      33.500000
45               Vermont                 VT                      34.116667
46              Virginia                 VA                      34.183333
47            Washington                 WA                      34.366667
48         West Virginia                 WV                      32.866667
49             Wisconsin                 WI                      33.233333
50               Wyoming                 WY                      33.283333

In [3]:
single_state = pd.read_csv("us_births_2016_2021_updated.csv")
single_state

,State,State Abbreviation,Education Level of Mother,Year,Number of Births,Total Births in State,Average Age of Mother (years)
0,Alabama,AL,9th > 12th Grade,2016,7093,59151,24.00
1,Alabama,AL,> 8th Grade,2016,2240,59151,27.70
2,Alabama,AL,Associate Degree,2016,4687,59151,28.95
3,Alabama,AL,Bahcelor's Degree,2016,9098,59151,30.30
4,Alabama,AL,Doctorate,2016,998,59151,32.95
...,...,...,...,...,...,...,...
2745,Wyoming,WY,Doctorate,2021,137,6237,33.45
2746,Wyoming,WY,High School Grad,2021,1483,6237,25.95
2747,Wyoming,WY,Master's Degree,2021,471,6237,32.75
2748,Wyoming,WY,Some College Credit,2021,1491,6237,27.45
2749,Wyoming,WY,Unknown,2021,81,6237,29.60