In [2]:
import pandas as pd
import plotly

In [22]:
us_births = pd.read_csv('https://raw.githubusercontent.com/avt1993/US-Births-2016-2021/main/us_births_2016_2021.csv')
us_births.head()

,State,State Abbreviation,Year,Gender,Education Level of Mother,Education Level Code,Number of Births,Average Age of Mother (years),Average Birth Weight (g)
0,Alabama,AL,2016,F,8th grade or less,1,1052,27.8,3116.9
1,Alabama,AL,2016,F,9th through 12th grade with no diploma,2,3436,24.1,3040.0
2,Alabama,AL,2016,F,High school graduate or GED completed,3,8777,25.4,3080.0
3,Alabama,AL,2016,F,"Some college credit, but not a degree",4,6453,26.7,3121.9
4,Alabama,AL,2016,F,"Associate degree (AA, AS)",5,2227,28.9,3174.3

In [26]:
us_births = us_births.rename(columns = {'State Abbreviation ': 'State_Code', 'Average Age of Mother (years)': 'Avg. Age of Mother', 'Average Birth Weight (g)' : 'Avg. Birth Weight in Grams'})
us_births.head(30)

,State,State Abbreviation,Year,Gender,Education Level of Mother,Education Level Code,Number of Births,Avg. Age of Mother,Avg. Birth Weight in Grams
0,Alabama,AL,2016,F,8th grade or less,1,1052,27.8,3116.9
1,Alabama,AL,2016,F,9th through 12th grade with no diploma,2,3436,24.1,3040.0
2,Alabama,AL,2016,F,High school graduate or GED completed,3,8777,25.4,3080.0
3,Alabama,AL,2016,F,"Some college credit, but not a degree",4,6453,26.7,3121.9
4,Alabama,AL,2016,F,"Associate degree (AA, AS)",5,2227,28.9,3174.3
5,Alabama,AL,2016,F,"Bachelor's degree (BA, AB, BS)",6,4453,30.3,3239.0
6,Alabama,AL,2016,F,"Master's degree (MA, MS, MEng, MEd, MSW, MBA)",7,1910,32.0,3263.5
7,Alabama,AL,2016,F,"Doctorate (PhD, EdD) or Professional Degree (M...",8,487,33.1,3196.7
8,Alabama,AL,2016,F,Unknown or Not Stated,-9,65,27.7,3083.9
9,Alabama,AL,2016,M,8th grade or less,1,1188,27.6,3232.9
10,Alabama,AL,2016,M,9th through 12th grade with no diploma,2,3657,23.9,3121.2
11,Alabama,AL,2016,M,High school graduate or GED completed,3,9284,25.2,3197.9
12,Alabama,AL,2016,M,"Some college credit, but not a degree",4,6516,26.7,3252.1
13,Alabama,AL,2016,M,"Associate degree (AA, AS)",5,2460,29.0,3301.4
14,Alabama,AL,2016,M,"Bachelor's degree (BA, AB, BS)",6,4645,30.3,3376.1
15,Alabama,AL,2016,M,"Master's degree (MA, MS, MEng, MEd, MSW, MBA)",7,1974,32.2,3358.2
16,Alabama,AL,2016,M,"Doctorate (PhD, EdD) or Professional Degree (M...",8,511,32.8,3368.4
17,Alabama,AL,2016,M,Unknown or Not Stated,-9,56,27.2,3107.7
18,Alabama,AL,2017,F,8th grade or less,1,1012,27.6,3139.6
19,Alabama,AL,2017,F,9th through 12th grade with no diploma,2,3283,24.4,3040.6
20,Alabama,AL,2017,F,High school graduate or GED completed,3,8962,25.4,3068.8
21,Alabama,AL,2017,F,"Some college credit, but not a degree",4,6384,26.9,3112.3
22,Alabama,AL,2017,F,"Associate degree (AA, AS)",5,2411,28.9,3197.2
23,Alabama,AL,2017,F,"Bachelor's degree (BA, AB, BS)",6,4335,30.5,3259.2
24,Alabama,AL,2017,F,"Master's degree (MA, MS, MEng, MEd, MSW, MBA)",7,1874,32.1,3251.7
25,Alabama,AL,2017,F,"Doctorate (PhD, EdD) or Professional Degree (M...",8,551,33.1,3230.8
26,Alabama,AL,2017,F,Unknown or Not Stated,-9,62,28.0,3014.4
27,Alabama,AL,2017,M,8th grade or less,1,978,27.6,3229.8
28,Alabama,AL,2017,M,9th through 12th grade with no diploma,2,3345,23.9,3116.2
29,Alabama,AL,2017,M,High school graduate or GED completed,3,9403,25.4,3190.0